[2018-01-21 23:04] oliverschwendener opened #4 "Fullscreen not working"
Window doesn't reload in fullscreen mode when activating fullscreen option. Fullscreen triggers only when restarting the application.

[2018-01-22 14:52] #4 closed

[2018-01-30 19:20] oliverschwendener opened #5 "Auto update: temporarily downloaded setup files wont be deleted"
Temporarily downloaded setup files (if update is available) wont be deleted.
My suggestion: update wont be downloaded automatically. Only check for update automatically. If update is available show "download & install" button which triggers the actual download and starts setup as soon as it is ready to install.

[2018-01-31 10:27] #5 closed

[2018-02-09 10:27] oliverschwendener opened #6 "Main Window close does not quit app"
When closing main window app is still running

[2018-02-12 21:32] oliverschwendener commented on #6
Fixed in 3c55c1b6994615094f72e767afe45f8aaa7e2415

[2018-02-12 21:32] #6 closed

[2018-03-08 07:17] michaelmattle opened #10 "Ideas/tweaks, that came to my mind"
Maybe you can implement following things:
* Possibility to (additionally to arrow keys) click on suggested items
* Easy way to access help, ex. press F1
* Easier way to define shortcuts like "g?", ex. wizard
* If no results are suggested for a search term, default suggest google or whatever defined

[2018-04-19 03:54] kingnathanal commented on #10
Couple things I noticed:

When typing > ipconfig /all instead of >ipconfig /all , i get the following error:

![image](https://user-images.githubusercontent.com/1933426/38970410-51d32b9c-4363-11e8-843f-8de2e79183ec.png)

Also when I do >ipconfig /all  the terminal opens as expected but when I close ueli and reopen the terminal window is still there, should this close when closing ueli

Nice app be

[2018-04-19 06:07] oliverschwendener commented on #10
@kingnathanal Thanks for your feedback! I'm working on a fix. Please open up a separate issue for this bug.

[2018-04-19 08:18] oliverschwendener opened #13 "Reset commandline output when hiding window"
Bug report from @kingnathanal:

Couple things I noticed:

When typing > ipconfig /all instead of >ipconfig /all , i get the following error:

![ueli-bug](https://user-images.githubusercontent.com/15727229/38979555-c7aab310-43ba-11e8-8df4-ba7ff8be5080.png)

Also when I do >ipconfig /all the terminal opens as expected but when I close ueli and reopen the terminal window is still there, should this c

[2018-04-19 08:25] oliverschwendener commented on #13
@kingnathanal I fixed this issue in a46f6e675fcee9ed09300dac5ad2eff704868fb9. You can use the update function in the tray icon to update your application. Please report if your issue has not been resolved.

[2018-04-19 08:25] #13 closed

[2018-04-21 10:40] TheAifam5 opened #15 "Main process crash when deleted a folder from a desktop"
Hey,

i really love your program and I using it every day. I tried to clean up my desktop and I deleted one folder exactly. After when the deletion completed, the ueli crashed. I think, the program was in the middle of scanning apps :)

Here is the crash log.
![image](https://user-images.githubusercontent.com/2192274/39083203-066b6ad4-4561-11e8-8759-ff49808e8988.png)

Regards,
TheAifam5

[2018-04-21 15:27] oliverschwendener commented on #15
Hello there, thanks for your feedback! I really apprecitate that. I fixed this issue with a simple try-catch in 90bee07. Since I am still figuring out how to test this case there is no guarantee that this won't happen again. Please reopen this issue if you're still encountering this error.

[2018-04-21 15:27] #15 closed

[2018-04-23 17:07] TheAifam5 commented on #15
Simple try-catch should be ok than crashing application completely.

[2018-04-30 23:43] TemsterGaming opened #17 "Crash from missing desktop"
just installed the program and the instant i opened it, it crashed because it couldn't find my desktop in my user folder because i moved it to another drive
![image](https://user-images.githubusercontent.com/10535312/39455491-f9b17c82-4d23-11e8-821c-cb736d57594f.png)

[2018-05-04 06:21] olivereisenhut opened #19 "Reload Config on reload"
Reload the config when `ueli:reload` is executed. At it's current state you have to restart the app which is quit unfortunate.

[2018-05-04 06:22] olivereisenhut opened #20 "Add click feature"
As mentioned in #10 clicking the items should be possible

[2018-05-04 06:31] khanhas commented on #20
I can pull request my attempt. It need more test tho.

[2018-05-04 06:59] SplittyDev opened #21 "Plugin proposals"
Hey, awesome work with this tool!

Here are some plugin ideas that I'd find very useful.

__Search__
- [ ] Wildcard search (`*.php`, `*.txt`, etc.)

__Development Tools__
- [ ] [npm](https://npmjs.com) package resolver and shortcuts (`npm i`, `npm start`)
- [ ] [crates](https://crates.io) package resolver

[2018-05-04 13:43] #20 closed

[2018-05-04 19:12] oliverschwendener opened #23 "Add system commands for mac os"
Implement system commands for mac os like [zazu](https://github.com/tinytacoteam/zazu-system/blob/master/process.js).

[2018-05-09 04:52] JACooper opened #25 "Feature Request/Bump: Add custom folders to search"
Really impressed with this so far! I saw this in the roadmap "Add option to change folders which are being scanned for programs and files" and wanted to bump it - I have a number of programs (like VS Code) installed in non-default location that ueli can't find, and it would be **awesome** if I could just add that directory to the ones ueli searches in. Platform is Win 10.

[2018-05-09 09:47] oliverschwendener commented on #25
Thanks for your feedback! I am working on it, this feature will be in the next release.

[2018-05-09 09:47] #25 closed

[2018-05-09 10:13] oliverschwendener commented on #21
Thank you for your feedback!

Wildcard search functionality is already there. I think what you want is to search the whole computer (or user specified folders), is that correct? At the moment only the home folder is scanned for folders and files (but not recursively).

What do you exactly mean with "package resolver and shortcuts"? Can you explain it with more details please?

[2018-05-09 10:29] oliverschwendener opened #26 "Long file path breaks layout"
Too long file paths breaks layout.

![issue](https://user-images.githubusercontent.com/15727229/39810258-a049360a-5384-11e8-8199-3067d2509f45.png)

[2018-05-09 10:35] oliverschwendener commented on #10
Thank you for your feedback!

* Possibility to click on suggested items
    * Will be included in the next release
* Easy way to access help with F1
    * Will be included in the next release
* Easeier way to define shortcuts
    * You can edit your web searches in the config file. I hope to implement a nice GUI in the future to edit the configuration
* If no search results are suggested for a sea

[2018-05-09 10:44] oliverschwendener commented on #26
Fixed in b461364bc58de4ae2de90a39f0e480b6e5af151c.

![image](https://user-images.githubusercontent.com/15727229/39810742-7598973c-5386-11e8-893f-d2cb608b6791.png)

[2018-05-09 10:44] #26 closed

[2018-05-09 13:04] SplittyDev commented on #21
Hey,

yeah I was thinking of a computer-wide wildcard search for filenames.
Not sure how that could be efficiently implemented, maybe by asynchronously building a cache of filenames in the background with their directories, and lazily updating/invalidating it at runtime.

About the development tools, I was thinking of simply fetching packages from well-known package registries (like npm, hackage,

[2018-05-09 14:03] oliverschwendener commented on #21
Ok I see, but where do you expect the packages to be installed?

[2018-05-12 08:53] oliverschwendener commented on #23
Added mac os system commands in 49d224a1157952606366877908a9cb7a82467a82. This will be included in the next release.

[2018-05-12 08:53] #23 closed

[2018-05-16 07:41] oliverschwendener opened #27 "ueli has no permissions to read count file"
When starting ueli it crashes because it has no permissions to read count file from `C:\Program Files\ueli\ueli.count.json`

![image](https://user-images.githubusercontent.com/15727229/40103308-4cf3978e-58ed-11e8-9423-0a544f1fddb4.png)

[2018-05-16 10:26] SplittyDev commented on #21
Oh, haha sorry I didn't think of that.

For npm packages, you could install packages globally (`npm i -g <package>`).
For cargo (crates.io), a simple `cargo install <package>` also installs it globally.

Of course, saving packages to the dependency file is not possible from within ueli.

[2018-05-16 12:01] oliverschwendener commented on #19
This has been implemented in 473b5fe0ddc0059c4238aa95e38fe591f3cf24a1 (included in next release).

[2018-05-16 12:01] #19 closed

[2018-05-17 04:46] JACooper opened #28 "Feature Request: Add .exe files to shortcutFileExtensions"
Specifying custom directories for the app to search in is of limited use, given that the app only looks for .lnk, .appref-ms, and .url files (as per `windows-program-repository.ts`). What I would like to do is specify a non-default folder (e.g. `C:\\Applications`) and have ueli find executable files within that (e.g. `code.exe`). As things stand, I'd have to create a shortcut to those executables,

[2018-05-17 07:49] oliverschwendener commented on #28
The only reason I did not include `.exe` as a file extension for applications on Windows is because in the start menu folder are (mostly) only `.lnk` files. But I see it would make sense especially if you specify a custom folder where you have `.exe` files you want to launch immediately. So I added `.exe` to the default application file extensions on windows. Aditionally I added the possibility to

[2018-05-17 15:09] JACooper commented on #28
This looks like it'll solve my issue - I'll check as soon as I'm at a Windows machine again.

Thanks for the prompt turnaround!

[2018-05-20 13:30] oliverschwendener commented on #21
I am sorry but I can't implement this feature (yet) for the following reasons:

* This feature is only for a very specific type of user so this should be an optional plugin/package
* I don't have any kind of plugin/package manager for ueli yet
* My current "plugin architecture" is synchronous and if I want to fetch data from an API the search results should be processed asynchronously

[2018-05-21 00:44] gadget00 opened #29 "OS language recognition?"
Hey man, thanks for this great app. It reminds me of the old Enso application made by Aza Raskin back in the day.  It's just great.

Now here's my question: why doesn't it pick up the default language of the OS?  Right now my Windows machine is set up with spanish, but all the recommendations and results of ueli appear in english, eventhough all my language settings are configured to spanish.

Is

[2018-05-21 07:34] oliverschwendener commented on #29
Hello there! Thank you for your feedback!

At this time English is the only supported language. But let me explain how ueli works:

## Programs

When ueli is looking for installed programs it uses the file names of the shortcuts in the start menu folder. Here is an example:

If ueli finds a file called "Command Promt"...

![image](https://user-images.githubusercontent.com/15727229/40294780-486d5de

[2018-05-28 12:09] TheCell opened #30 "Feature Request: Save previous choices"
Hey guys, great work so far! Started using it for some time now, my biggest issue with ueli to date is that it doesn't save previous choices. An example: When I write tex in windows (windows key then write) it shows programms that have something to do with Tex, like Texmaker, Vertex, Miktex. When I select Texmaker several times it saves that choice and the next time I'm writing tex the system show

[2018-05-28 14:09] oliverschwendener commented on #30
I think you are not using the latest version of ueli. We implemented this feature already in version 4.0.0, see [Release Notes](https://github.com/oliverschwendener/ueli/releases/v4.0.0). Read [this](https://github.com/oliverschwendener/ueli#updater) to check if you are using the latest version.

[2018-05-28 18:43] TheCell commented on #30
Just updated now after using the programs and restarting ueli it worked. Nice! thanks a lot and sorry for the hassle.

[2018-05-28 21:17] #30 closed

[2018-06-01 13:59] oliverschwendener commented on #29
Closing due to inactivity.

[2018-06-01 13:59] #29 closed

[2018-06-10 23:06] dschuessler commented on #10
Thank you for sharing your project with us.

I just wanted to weigh in that I don't deem it unnecessary to have a default fallback search. A few points on that:
- It is the default behavior of Alfred. So users like me, who search for an open source alternative to Alfred are already used to it.
- It guarantees that you can always leave ueli by hitting Enter, no matter what you typed. In other words

[2018-06-11 04:01] khanhas commented on #10
Doesn't it feel weird when you hit enter, search term disappears and nothing runs. In Windows, a lot of applications don't run instantly, and most of the time I have to wait 2, 3 second before I can see any trace that they are running.
So when I make a typo and search engine returns no result, I would like to know and type again correctly right away rather than waiting till I realize I make a mist

[2018-06-11 06:13] oliverschwendener commented on #10
@dschuessler Thank you for your feedback! Alfred is great and I have copied many of it's features/behaviour to ueli. But I don't want to copy features or behaviour only because "Alfred users are used to it". And I don't get the point of the ability to "always leave ueli by hitting enter". What do you mean with "get stuck with your search term"?

[2018-06-11 07:31] sistematico opened #32 "Steam Games"
You can add list of Steam Games(library) in ueli?

Thank you..

[2018-06-11 10:39] Zaplanincan commented on #32
Hi,
I'm using Pin Steam (from w10 shop) to pin steam games to start menu, then ueli can start games.

[2018-06-11 13:29] oliverschwendener commented on #32
@sistematico When you install a game in steam you can create a shortcut in the start menu folder. So ueli should be able to find the game.

![steam-install](https://user-images.githubusercontent.com/15727229/41232737-97388486-6d87-11e8-837e-0003ddf67931.png)

If you already hav installed the game you can create a shortcut on the desktop:

![steam-shortcut](https://user-images.githubusercontent.com

[2018-06-11 13:29] oliverschwendener commented on #32
@Zaplanincan What do you mean by "default folder to set shortcuts in there"?

[2018-06-11 15:23] Zaplanincan commented on #32
Hi,
sorry my bad,  I just realized that I can write my favorites to ueli.count.json and give them hi count.
I don't use desktop shortcuts so I use Pin Steam on W10, for ueli to read *.ink files.

[2018-06-11 20:17] oliverschwendener commented on #32
You can [customize](https://github.com/oliverschwendener/ueli#customization) the folders and file extensions ueli should search. I think this should solve your problem.

[2018-06-11 20:17] #32 closed

[2018-06-12 14:27] dschuessler commented on #10
@oliverschwendener: What I meant:
1. You type in what you search for.
2. You make mistakes while typing.
3. You get no results.
4. You blindly hit Enter.
5. Literally nothing happens.

@khanas: When there is a fallback search, it’s not that „nothing runs“, but you get web search results for the term you typed. The behavior I’d actually prefer is exactly, that Enter always does something and theref

[2018-06-12 20:22] oliverschwendener commented on #10
Published new version: https://github.com/oliverschwendener/ueli/releases/tag/v4.6.0

[2018-06-12 20:22] #10 closed

[2018-06-14 00:37] jess-sys opened #33 "Feature request: Add support for multiple screens"
Hey there! Really impressed with this so far! The best alternative to "rofi" for Windows.

What about a dual screen support ?
With mouse focus retrieval to determine on which screen the bar will display ?

It would be so cool!

[2018-06-14 20:03] oliverschwendener commented on #33
Thank you for your feedback! Good idea, I will look into it.

[2018-06-22 21:06] levrik commented on #29
@oliverschwendener Maybe the XML file in `C:\Windows\ImmersiveControlPanel\Settings` can help which creating a list of all Windows settings? I can look a bit more into this file when I have time.

[2018-06-23 03:32] khanhas commented on #29
I did look into that. It only contains list of settings in keywords but it doesn't contain actual translated text. After some searches around, seems like MUI files in these folder does store text in user's language:

![image](https://user-images.githubusercontent.com/26436809/41805259-9334fe80-76d0-11e8-811d-686c70f8b3ca.png)

But they're binary so I don't think there is an easy way to parse them.

[2018-06-26 13:22] oliverschwendener commented on #33
Added support for multiple screens in: 07c3fc770f544e24d8203ff55e8cbc233a02ca00. This will be included in the next release.

[2018-06-26 13:22] #33 closed

[2018-06-26 13:41] oliverschwendener commented on #33
[Version 4.7.0](https://github.com/oliverschwendener/ueli/releases/tag/v4.7.0) is released.

[2018-06-26 21:50] C4b4nossi opened #34 "ueli.config.json settings do not apply"
Hey,

great tool! It seems to not apply my changes of the settings-file. It does not change theme and custom commands are not working.
Win10 Pro 1709

Can I provide any logs for review?

[2018-06-26 21:58] oliverschwendener commented on #34
Did you reload ueli after editing the config file? Just type in "Reload ueli".

[2018-06-26 22:07] ravarious commented on #34
Same problem, change ueli.config.json (theme and command), make reload (pls write this command in documention), nothing changed.

[2018-06-26 22:13] oliverschwendener commented on #34
@ravarious You are right. I Forgot to mention this in documentation.

@HelloKittyCat & @ravarious
Can you post your config here?

[2018-06-26 22:44] ravarious opened #35 "ueli.config.json"
Hi, little question.

Maybe I understand your sentence with start a program wrong.

`

  "customCommands": [
    {
        "name": "wa",
        "executionArgument": "!code C:/Users/Michael/Desktop/WhatsApp.ink"
    }
  ],`

I also try to start a normal .exe. Nothing run.
Do you have a solution?
Michael

[2018-06-27 06:02] C4b4nossi commented on #34
@oliverschwendener - my mistake: forgot a few commas when I added more folders in the config. Works great!

[2018-06-27 06:29] #34 closed

[2018-06-27 10:14] xXKeyleXx opened #36 "Feature request: Add option to hide tray icon"
It would be great if I could hide the icon in the tray bar as I don't need it and I like it clean there.

[2018-06-27 12:17] jonhil opened #37 "ueli input window moves while typing"
When typing in the ueli input window the window moves.
With every input keystroke the ueli window moves up and left.

Start:
![ueli_1](https://user-images.githubusercontent.com/11158762/41973195-9768bc0c-7a14-11e8-9166-141743226316.jpg)
Result:
![ueli_2](https://user-images.githubusercontent.com/11158762/41973199-98e56832-7a14-11e8-8d0a-9354a91a511b.jpg)

Expected behavior:
A not moving input wind

[2018-06-27 13:20] oliverschwendener commented on #37
Haha wtf, I have never seen this before and I have litterally no idea what it could be. 😅  I can't reproduce your bug. Can you clone the repo and start ueli from the command line ([instructions](https://github.com/oliverschwendener/ueli#setup))? Maybe there is a clue in the console logs.

[2018-06-27 13:29] oliverschwendener commented on #36
Thank you for your feedback! I will add an option `showTrayIcon` to the [configuration](https://github.com/oliverschwendener/ueli#customization) but keep in mind that (currently) the only way to update ueli is through the tray icon ([see here](https://github.com/oliverschwendener/ueli#updater)).

[2018-06-27 20:56] oliverschwendener commented on #36
I'm working on that... this will be included in the next release.

[2018-06-28 11:39] lampenlampen opened #38 "Start UWP-Apps on Windows"
### Start UWP-Apps with Ueli
It would be nice to start uwp-apps with ueli.

I tried to workaround by creating a shortcut to the app on the destop and ueli shows this shortcut, but an error is thrown by windows that it cannot find a programm to handle this action.

Doubleclicking the shortcut on the desktop is working.

Thanks in Advance

PS: Really great tool. 👍

[2018-06-28 12:07] oliverschwendener commented on #38
The problem is that there is no way (at least none which I know of) to get all installed uwp apps. But you can set up a [custom command](https://github.com/oliverschwendener/ueli#custom-commands) to start a UWP app.

For example: I installed the official Instagram app from the Microsoft Store and I set up this custom command:

[code]

The only thing you have to do is to get the correct start param

[2018-06-28 14:09] lampenlampen commented on #38
I found a way to get all installed app with a PowerShell command.

`Get-AppxPackage`

https://stackoverflow.com/a/37086764/7441041

[2018-06-28 14:15] lampenlampen opened #39 "PowerShell Commands"
### PowerShell Commands

Ability to execute PowerShell commands

[2018-06-28 17:52] oliverschwendener commented on #38
`start shell:AppsFolder\{PackageFamilyName}!App` doesn't work for me. Does it work for you?

[2018-06-28 17:54] oliverschwendener commented on #39
You can execute powershell commands like this:

![image](https://user-images.githubusercontent.com/15727229/42051693-fd14c926-7b0c-11e8-9f32-25be3df55f28.png)

![image](https://user-images.githubusercontent.com/15727229/42051711-09a8a0b8-7b0d-11e8-9486-61c4761727a4.png)

[2018-06-29 09:34] lampenlampen commented on #38
I think i tested it with one of the few apps it worked on (Microsoft Photos App). I tested it with others now and it didn't work.

[2018-06-29 09:52] lampenlampen commented on #39
Is it possible to include a setting in the config-file to set PowerShell as the default console?

Or better: a setting with the path to a console.
This way it is possible to use PowerShell Core.

[2018-06-29 15:05] oliverschwendener commented on #39
There is no such thing like a "default console". Ueli does not have an interactive console, you can only see the output of a commandline program.

If you type in `>{some command}` the command is not interpreted by a shell (like cmd or powershell) but by the operating system itself (like the "Run" dialog in Windows). For example if you type in `>ipconfig` and hit enter there is no cmd or powershell

[2018-06-29 15:07] oliverschwendener commented on #38
For me only the pre-installed UWP from Windows work like this: `start ms-photos:` or `start ms-settings:`

[2018-06-29 15:19] lampenlampen commented on #39
I thought a console is running in the background  and wanted the ability to change this console to another one.

You can close this issue.

[2018-06-29 15:20] #39 closed

[2018-06-29 15:30] oliverschwendener commented on #38
Thanks for the hint, I didnt know that!

[2018-06-29 15:36] lampenlampen commented on #38
Sadly it doesn't help for an automated solution.

[2018-07-01 08:45] Fry2412 opened #40 "Command Prompt Encoding"
Problems with encoding when characters like äöü should be displayed in the Windows command prompt.

Microsoft Windows [Version 10.0.17134.112]
ueli 4.7.0 - latest

[2018-07-02 14:17] oliverschwendener commented on #40
Thanks for your feedback! Can you please provide more information? A screenshot with your input and commandline output visible would be very helpful.

[2018-07-02 14:52] BlangTech commented on #40
I can provide one
![unbenannt](https://user-images.githubusercontent.com/2683790/42170892-1126e922-7e18-11e8-887b-af5b0a5ec40e.jpg)

The command was `>ping google.de`

[2018-07-03 08:28] Fry2412 commented on #40
Thanks for the quick attempt, but unfortunately the fix doesn't work on my machine.
It still looks like the screenshot provided by BlangTech.

Workaround: I set my system to English :D

Is the problem possibly in the ipcRenderer? If I understand that correctly, HTML is rendered by electron, isn't it?

[2018-07-03 09:09] oliverschwendener commented on #40
You are right, my attempt does not work. I tested it with Windows set to German.

Yes the GUI is rendered by electron, but the problem seems to appear on a deeper level. When you start `ping` node spawns a new child process ([docs](https://nodejs.org/dist/latest-v8.x/docs/api/child_process.html#child_process_child_process_spawn_command_args_options)). Then when the spawned process writes data to t

[2018-07-03 10:47] BlangTech commented on #40
Windows-CMD is using CP850 (DOS Latin 1) encoding. I don't know if there is any decoder in Typescript for that, but you can maybe write your own ;-)
[CP850](http://www.gymel.com/charsets/CP850.html)
Mappingtable - `ftp://ftp.unicode.org/Public/MAPPINGS/VENDORS/MICSFT/PC/CP850.TXT`

Then you can do something like that
`this.sendCommandLineOutputToRenderer(decodecp850(data.toString()));`

[2018-07-07 11:41] neikei opened #41 "Activity indicator to make background processes visible"
Hi Oliver,

is it possible to integrate something like a progress bar to make a background progress visible?

Use Case: You run a cmd (Windows) or shell (Mac OS) command which doesn't show output directly, because it will collect some data first and you don't know if your entered command started proberly until the output is shown.

Idea example (just a javascript for rotating spinner): http://spin

[2018-07-07 16:30] khanhas commented on #41
Replace SVG of search icon should do, no need a dependency.
I'm using this one for my fork:
[code]
https://streamable.com/0bdfx
Simple and fit UELI style

[2018-07-09 08:01] oliverschwendener commented on #41
Thank you for your feedback. I will look into it as soon as possible.

[2018-07-09 08:02] oliverschwendener commented on #38
I will close this issue, because I have no acceptable solution for this issue.

[2018-07-09 08:02] #38 closed

[2018-07-09 09:29] oliverschwendener commented on #41
I added a message (in this example `Started "ping" with parameters: "1.1.1.1"`) which indicates that a command line tool has started. Does that satisfy your needs?

![image](https://user-images.githubusercontent.com/15727229/42442304-97c731ce-836a-11e8-8caa-cb122237d9fb.png)

[2018-07-09 11:31] LevinFaber commented on #37
Same problem, Win10 Pro, latest release. Will add console logs if I get the time.

[2018-07-09 13:15] neikei commented on #41
Good idea! What does it look like if several parameters are specified?

[code]

[2018-07-09 13:20] oliverschwendener commented on #41
![image](https://user-images.githubusercontent.com/15727229/42452917-97cbbd9a-838b-11e8-83b8-95c49e710020.png)

[2018-07-09 13:56] oliverschwendener commented on #41
This will be included in the next release.

[2018-07-09 13:56] #41 closed

[2018-07-11 05:07] oliverschwendener commented on #37
Maybe there is a bug when placing the window. Try to set `alwaysShowOnPrimaryDisplay` to `true` in the config file (`~/ueli.config.json`).

[2018-07-12 10:36] jonhil commented on #37
I tried to set `alwaysShowOnPrimaryDisplay` to `true`  and restartet ueli but it didn't change the inputwindow movement.
I also cloned the repo and startet ueli from the command line but the bug still existed and there was no info or error in the console. Or is there defined logging location?

[2018-07-12 10:46] oliverschwendener commented on #37
At the moment there is only console logging.

[2018-07-12 12:58] jonhil commented on #37
Ok. Then this is all I got from the console:
`λ yarn start`
`yarn run v1.7.0`
`$ ./node_modules/.bin/electron . --enable-logging`
`Batchvorgang abbrechen (J/N)? j`

I opened multiple programs but the movement bug was consistent. Sorry for not having more info.

[2018-07-13 12:41] michabbb opened #42 "crash when doing a google search"
i enter `g?something` :

![13-07-2018-02-39-52](https://user-images.githubusercontent.com/3524595/42692054-9aa50b08-86aa-11e8-93e2-0e002f0bf45e.png)

![13-07-2018-02-40-16](https://user-images.githubusercontent.com/3524595/42692069-a902133a-86aa-11e8-8ee2-c1c437aadaa3.png)

seem like it has something todo with _rights_ .

os: windows 10
browser: chrome

thanks for any help

[2018-07-13 15:37] oliverschwendener commented on #42
Where did you install ueli?

[2018-07-13 15:39] michabbb commented on #42
the installer saved it to `C:\Program Files\ueli`

[2018-07-13 15:43] oliverschwendener commented on #42
What happens if you open Command Prompt and execute the following command?

[code]

[2018-07-13 16:12] michabbb commented on #42
first i get this:

![13-07-2018-06-12-29](https://user-images.githubusercontent.com/3524595/42701976-4e2d076c-86c8-11e8-995a-bdee2735e2ae.png)

and the cmd shows me: `Zugriff verweigert`

[2018-07-13 17:06] michabbb commented on #42
the funny thing is, i remeber the first day of using ueli, it worked. in the meantime i got a windows update and maybe chrome too, i don´t know. so it´s very strange that this stopped working.

[2018-07-14 18:00] michabbb commented on #42
yes i have, it looks the same: i use chrome

[2018-07-15 06:51] oliverschwendener commented on #42
Ok never mind.

The problem seems to be on operating system level and not in ueli. You should be able to open up a web page from the command line with the command I mentioned before. This is how ueli opens up web pages with your default browser.

[2018-07-15 06:53] oliverschwendener commented on #42
What happens if you change your default browser?

[2018-07-15 10:44] michabbb commented on #42
when i switch to edge, it´s working. back to chrome: same error. stupid... i guess i have to google a bit 😕

[2018-07-15 10:51] oliverschwendener commented on #42
Then I guess it has something to do with your chrome installation

[2018-07-15 10:54] michabbb commented on #42
but: [this](https://stackoverflow.com/a/23039509/1092858) is working: `explorer "http://google.com"` without any problems 🤔

[2018-07-15 10:57] michabbb commented on #42
don´t know if it has something todo with it:

i am using a insider build of win10: `Version 1803 (Build 17692.1004)`

[2018-07-16 22:38] oliverschwendener commented on #42
Can you downgrade?

[2018-07-17 09:39] michabbb commented on #42
@oliverschwendener guess i can, but why should i change my OS because of _THIS_ ? 😏 the next WIN update will come, insider build or not. so at the end, i cannot stay the rest of my life at an older version only because i want a search working with ueli, hopefully u understand this 😏 maybe `explorer`  is working for you and all others, too - i don´t know - if yes, i might be worth a change - that´s

[2018-07-17 16:06] oliverschwendener commented on #42
Of course I don't expect you to stay on an old version of Windows only to be able to google with ueli:) Nevertheless I consider this issue as closed now because I suspect it only affects the insider build.

[2018-07-17 16:09] michabbb commented on #42
@oliverschwendener do you see any problems changing

`start "" "https://google.com/search?q=test"`

to

`explorer "https://google.com/search?q=test"`

❓

[2018-07-19 09:46] oliverschwendener commented on #42
What happens if you execute following command in cmd:

[code]

?

[2018-07-19 09:48] michabbb commented on #42
works 😏

[2018-07-19 09:51] oliverschwendener commented on #42
Allright, then this is the way :)

[2018-07-19 09:51] #42 closed

[2018-07-20 08:11] oliverschwendener commented on #36
New release is out.

[2018-07-20 08:11] #36 closed

[2018-07-20 14:50] oliverschwendener commented on #37
Unfortunately I have no clue what it could be 😢

[2018-07-20 21:09] bantya opened #43 "Plugin support?"
Are there any plans to add plugin support to the app? The utility is very handy and it will help to have even more flexibility (say plugin for dash documentation etc.).

[2018-07-21 17:13] oliverschwendener commented on #43
I understand that it would be very helpful but there are no plans yet to support plugins. Mainly because I have no idea how to do it :) I would have to implement some kind of plugin manager which installs/uninstalls plugins and checks compatibility with the current ueli version and so on.

[2018-07-25 04:00] NeedsAdjustment opened #44 "Custom theme support?"
Same as title ^ would be cool to be able to make colour changes/deeper css tweaks akin to what u/khanhas has done with his fork

[2018-07-29 10:12] oliverschwendener commented on #44
Thanks for your feedback! I will look into it.

[2018-08-02 17:46] oliverschwendener commented on #44
I added the option to specify a custom user stylesheet (see: [documentation](https://github.com/oliverschwendener/ueli/tree/dev#custom-color-themes)). This will be released in the next release.

[2018-08-02 17:46] #44 closed

[2018-08-07 06:16] TobiasDev opened #46 "Find installed apps through Windows store?"
I know that Wox (a now looking dead launcher like this), was somehow able to also find Windows Store apps in the searches. Would this also be possible to add here?

[2018-08-08 14:50] oliverschwendener commented on #46
This is related to (#38).

Wox is mainly C# code and thereby has better integration with Windows.

Ueli utilizes [node.js](https://nodejs.org) and to knowledge currently there is no way to get all UWP apps installed on a computer through node.js. If you know how to do it let me know ;)

I think [here](https://github.com/Wox-launcher/Wox/blob/master/Plugins/Wox.Plugin.Program/Programs/UWP.cs#L143)

[2018-08-09 09:59] xXKeyleXx opened #47 "Show icons of programs"
It would be great if the icons for programs would be the ones you can seein the explorer too. For example the list entry of Steam should have the Steam icon, so I don't have to search for it in the list because an icon is way better to recognise than text.

[2018-08-11 16:18] clrncmcnlsn opened #48 "ueli.config.json - Move to Root Directory"
Is it possible to move the config file inside the root folder instead of the _**users**_ directory?

[2018-08-12 12:12] oliverschwendener commented on #48
Currently it is not possible to move the config to another folder. But why would you anyway? The users directory is (in my opinion) the best location: there are no problems with permissions and all users can have their own config.

[2018-08-13 02:00] clrncmcnlsn commented on #48
Almost every program I use are portable and I feel more comfortable if the config files are within the same folder instead of the OS drive.

[2018-08-15 09:23] thebugfixnet opened #49 "Calculator Plugin to use with , instead of ."
Maybe I am blind. But is there no option to switch from . to , in the calculator plugin? It is really annoying for a nearly perfect tool to  use the calculator plugin with the german keyboard layout and , as standard separator for digits.

102.4+102.2 works
102,2+102,2 do not work

[2018-08-16 05:40] maku commented on #48
From my point of view, the users directory is the best place for this kind of stuff...

[2018-08-16 07:29] maku opened #50 "custom command with parameters"
Is it possible to define custom commands with parameters?

e.g. executionArgument

[code]
where {0} is the input file / directory:

`openwithcode c:\my-project`

[2018-08-19 07:49] tliebig opened #51 "Does not find translated app name of system app"
Hi Oliver,

I'm happily using ueli on a german version of Win10. When trying to start the "Rechner" (Taschenrechner) however, Ueli doesn't find the application - it only finds "calculator" as "win:calculator".

Is there any way to make it find the translated app name as well?

[2018-08-21 07:38] oliverschwendener commented on #51
Thank you for your feedback! I think this is related to #29 and #38.

The problem here is that there is no way to "search" for Windows' default UWP apps like Mail, Calendar, Calculator, etc. So these apps are hardcoded in [this](https://github.com/oliverschwendener/ueli/blob/master/src/ts/search-plugins/windows-10-settings-plugin.ts#L952) file. Maybe there is a way to add multi language support, b

[2018-08-21 07:39] oliverschwendener commented on #50
Thank you for your feedback! This is a very good idea, I will look into it as soon as possible!

[2018-08-21 07:47] oliverschwendener commented on #49
Thank you for your feedback!

The problem here is that ueli is using [mathjs](https://github.com/josdejong/mathjs) to evaluate mathematical expressions. To my knowledge mathjs does not support any customization so that a `,` is recognized as a decimal separator. But I will look into this problem as soon as possible.

[2018-08-21 09:37] clrncmcnlsn commented on #48
The root folder where **ueli.exe** resides or probably a **config** folder inside root.
Any will do.
Thanks.

[2018-08-21 10:34] khanhas commented on #49
mathjs also support array and `,` is used to separate array members. I don't think there is anything we can do about that except using another math evaluate package.

[2018-08-21 11:49] oliverschwendener commented on #49
@khanhas Thank you for your research!

So apparently there is no way to get mathjs to work with `,` as a decimal separator and I am not willing to change the math library because of this issue. I am sorry but you have to stick with `.` as e decimal separator.

[2018-08-21 11:49] #49 closed

[2018-08-21 15:43] maku commented on #50
@oliverschwendener Great - BTW, I like ueli very much...

[2018-08-22 06:32] tliebig commented on #51
Hardcoding doesn't sound like the way to go.

The translated app names are available in the start menu, though. I've just googled "parse windows start menu", which came up with https://superuser.com/questions/171096/where-is-the-list-of-pinned-start-menu-and-taskbar-items-stored-in-windows-7 and https://docs.microsoft.com/en-us/windows/desktop/api/shldisp/ne-shldisp-shellspecialfolderconstants.

I

[2018-08-22 10:04] oliverschwendener commented on #51
Ueli already reads the files from the start menu folders: `C:\ProgramData\Microsoft\Windows\Start Menu\Programs` and `C:\Users\<User>\AppData\Roaming\Microsoft\Windows\Start Menu`. But in these folders are no shortcuts to UWP apps.

As I mentioned in #38 there is (to my knowledge) no proper way to get (and start) all installed UWP apps including Windows 10 system settings.

If you find a way to ge

[2018-08-22 10:09] oliverschwendener commented on #51
With powershell you can get UWP apps with `Get-AppxPackage`.

Here is a snippet of the output:

[code]

As you can see there is no translation and no information how to start the app.

[2018-08-24 21:20] michabbb commented on #48
@oliverschwendener when adding a lot of stuff into the config, it´s more than important to have a backup. for me, the most simple way is, to store my config files in my dropbox folder, in that case, you have a backup **and** it´s synced with your other devices. so it´s a bit tricky to write cronjobs that copy files from A to B or stuff like that, it would be so much easier if this app would allow

[2018-08-25 11:40] pcktm opened #52 "Does not show any applications"
Ueli does not show any user applications, for example:
I search for Spotify and it's just not there even though it is installed. I tried changing paths in config file but it does nothing.

I'm on Windows 10.

[2018-08-25 15:35] oliverschwendener commented on #52
Did you install Spotify with the Microsoft Store?

[2018-08-26 10:36] pcktm commented on #52
No I didn't. But ueli doesn't show any application not just spotify. It only searches for files and system settings.

[2018-08-26 11:07] pcktm commented on #52
Alright, I don't have any idea what caused the issue but I reinstalled ueli two times and now it magically works! Thanks anyway.

[2018-08-26 11:07] #52 closed

[2018-08-28 17:58] khanhas commented on #37
I found the cause. If you set this value > 100%, Ueli starts to move when typing:
![image](https://user-images.githubusercontent.com/26436809/44741236-ae872700-ab26-11e8-8a71-b6319be0d783.png)

[2018-08-29 08:59] oliverschwendener commented on #37
@khanhas Thank you for your research!
To be more precise: if you set the custom scaling value to a value that is not listed here...

![image](https://user-images.githubusercontent.com/15727229/44777258-6f82c100-ab7a-11e8-8ec6-fa4bfa5ce52c.png)

...the window starts moving while typing.

@jonhil & @LevinFaber Did you set a custom scaling in Windows?

[2018-09-01 06:28] oliverschwendener commented on #37
I added this to [known bugs](https://github.com/oliverschwendener/ueli#known-bugs).

[2018-09-01 16:33] oliverschwendener commented on #48
Allright, I will look into it as soon as possible.

[2018-09-01 19:39] oliverschwendener commented on #50
I renamed the previous "customCommands" to "shortcuts" and added a new pattern for "customCommands" with parameters.

# Shortcuts

The goal with shortcuts is that you can quickly launch urls, folders, files with a name (and without any parameters).

Here an example of the config file:

[code]

So you should be able to find the shortcut to `https://web.whatsapp.com` with `Whatsapp` or `Wha` or `Wah

[2018-09-01 19:47] oliverschwendener commented on #46
Closing all issues related to launching UWP apps on Windows for now because there is (to my knowledge) no way to get/launch UWP apps with node.js.

[2018-09-01 19:47] #46 closed

[2018-09-01 19:47] oliverschwendener commented on #51
Closing all issues related to launching UWP apps on Windows for now because there is (to my knowledge) no way to get/launch UWP apps with node.js.

[2018-09-01 19:47] #51 closed

[2018-09-01 19:52] oliverschwendener commented on #40
For the next release I added the possibility to add parameters to custom commands. So you could set up a custom command to directly launch commandline tools inside the windows command prompt.

Here is an example for the config file:

[code]

This way you are able to type in `cmd ping 1.1.1.1` and `ping` will be started inside the windows command prompt and there shouldn't be any problems with enco

[2018-09-01 19:52] #40 closed

[2018-09-02 12:04] maku commented on #50
@oliverschwendener Great, I am looking forward to give it a try...

[2018-09-02 12:14] #50 closed

[2018-09-03 21:09] jonhil commented on #37
@oliverschwendener oh yeah I used a custom value there and forgot to set it back :P
changed it to 100% and everything is working perfekt again 👍 thanks!

[2018-09-03 21:13] oliverschwendener commented on #37
Allright! I am closing this issue because this seems to be a bug in chromium or electron. Once again, big thanks to @khanhas for the research!

[2018-09-03 21:13] #37 closed

[2018-09-05 09:03] mruessler opened #53 "Add release notes"
Release notes would be a nice addition to the information provided in the README file.

[2018-09-05 10:00] oliverschwendener commented on #53
Notes to every release are listed here: https://github.com/oliverschwendener/ueli/releases

[2018-09-05 11:14] mruessler commented on #53
Nevermind then and thank you for the reply ;-)
You could add a link to the TOC of the README file for better visibility, though.

[2018-09-05 11:14] #53 closed

[2018-09-07 13:32] apaarfus opened #54 "[Feature Request] Search folder of current file explorer window"
I stumbled upon ueli last night, and was so glad to see someone working on an application launcher similar to Listary -- but, FOSS with Electron.

One thing Listary does over ueli, that would be useful in many regards, is a more efficient file search while using Explorer (Win32 only, of course).

The gist of that implementation:

1. Focus on an Explorer window
2. On Keydown(any), open a small Dial

[2018-09-08 08:57] oliverschwendener commented on #54
Good idea! I will look into it as soon as possible.

[2018-09-10 12:42] apaarfus commented on #54
Sweet!

I though I'd provide a screenshot of their implementation -- I believe that search function end search both in the currently-open directory, as well as in the rest of the file system...though, anything even close to that would be super cool.
![image](https://user-images.githubusercontent.com/38731016/45298080-675d4680-b4d5-11e8-95d7-d070716385fe.png)

[2018-09-10 13:01] oliverschwendener commented on #54
I think first I will only search the current folder to keep things simple.

[2018-09-10 15:18] cosimochellini commented on #38
hey, **really important**, find a workaround, to open all UWP-Apps,
1: search on windows (window key + name app)
2. right click on the app icon> add to start
3: drag the app icon to the desktop
4 (optional): move the link to some folder if you prefer not to have such icons on your desktop

[2018-09-11 06:52] pbuw opened #55 "iTunes cannot be found"
![image](https://user-images.githubusercontent.com/30902538/45342339-efa71e80-b59d-11e8-8686-981f9d0e77b1.png)
Its installed over the Microsoft app store, maybe that's the problem. Its also not listed in the Control Center. Is there a solution to fix this?

[2018-09-11 06:57] cosimochellini commented on #55
this is a workaround:
1: search on windows (window key + itunes)
2. right click on the app icon> add to start
3: drag the app icon to the desktop
4 (optional): move the link to some folder if you prefer not to have such icons on your desktop

[2018-09-11 08:12] pbuw commented on #55
Thanks for your help.
It worked with a shortcut on the desktop, but I think it's not the most beautiful way to get it working.

[2018-09-11 08:12] #55 closed

[2018-09-11 11:01] oliverschwendener commented on #55
This is related to #38. At the moment there is no way to get/start UWP apps (apps installed with Microsoft Store). Although there is a workaround from @cosimochellini.

[2018-09-12 15:53] wedza opened #56 "Can't customise ueli ?"
Hello !

I just installed UELI to try to replace Listary and Wox, and so far I'm really enjoying it!

But I have a small issue, even if I change some settings in the ueli.config.json in my User folder, nothing of my changes is taken into account.

I've tried to change the color theme, the hotkey etc... But even after reloading UELI (by the ueli command, or by restarting my computer), nothing happe

[2018-09-12 15:57] khanhas commented on #56
Uses ide like VSCode or Atom to check if your config file has any format error.
Because if it has error somewhere, UELI will fail to parse it and load default config instead.

[2018-09-12 15:59] oliverschwendener commented on #56
Yep, first check if your syntax is correct.

[2018-09-12 16:04] wedza commented on #56
Found it !

It was the folderPath, where I placed the directory like it was in Windows Explorer, without the double slash. Now working perfectly !

Thanks for your time.

[2018-09-12 16:20] #56 closed

[2018-09-13 04:56] moses-bowman opened #57 "Calculator/Converter - Copy Product/Quotient/Sum/Difference/Etc."
It would be handy if pressing **{enter}** will copy the result of a computation.
Same goes with conversion.

[2018-09-15 20:40] oliverschwendener commented on #57
Good idea! I am working on this.

[2018-09-16 13:07] oliverschwendener commented on #57
Implemented this feature in 5c894f0420b6da5622af396e2272b4474368110f (will be included in the next release).

[2018-09-16 13:07] #57 closed

[2018-09-16 13:16] oliverschwendener commented on #43
Closing this issue for now because I have no plans to implement a package/plugin manager.

[2018-09-16 13:16] #43 closed

[2018-09-19 14:55] maku opened #58 "customCommands enhancement"
You have to write the whole "prefix" of a customCommand plus the the first "variable" part to see anything  relevant in the search result:

e.g. I have a definition lke:

[code]
I have to type

![image](https://user-images.githubusercontent.com/64805/45761129-e8ca7c80-bc2b-11e8-9ff8-7c83eea73fef.png)

to see a result

Would it possible to present the command also in the search result? (After selec

[2018-09-20 07:50] oliverschwendener commented on #58
When would you expect your custom command to appear in the search results?

[2018-09-22 06:21] nekofurball opened #59 "Ueli crashes really easily"
Ueli crashes regularly when opened.

I don't know the cause of the issue.

[2018-09-22 06:37] oliverschwendener commented on #59
Operating system? Is there any crash message or does it just quit? Or does it freeze? Did you modify your config?

[2018-09-22 09:06] khanhas commented on #59
Try open UELI from terminal. E.g in Windows, open cmd and run:
[code]
It should throw error to cmd if it crashes

[2018-09-22 13:14] Nimerkuloff opened #60 "Assigning "Super" as a hotkey"
Am I allowed to make a hotkey with only "windows" button?
Adding `"hotKey": "Super"` to config leads to:

[2018-09-23 03:01] nekofurball commented on #59
1. Windows
2. It freezes
3. Unmodified configuration

[2018-09-23 14:29] oliverschwendener commented on #60
Thank you for your feedback! I think electron does not allow only `Super` to be used as a global keyboard shortcut (see: [https://github.com/electron/electron/issues/1395](https://github.com/electron/electron/issues/1395)).

[2018-09-24 11:28] #60 closed

[2018-09-26 06:57] oliverschwendener commented on #58
As a workaround for now: why don't you just set a shorter prefix?

[2018-09-26 14:18] maku commented on #58
@oliverschwendener yeah would be max. a compromise solution. Problem is you would have to memorize the prefix. From experience I know that this does not work good... (especially when you have several...)

[2018-09-26 15:52] oliverschwendener commented on #58
Allright. I will look into it as soon as possible.

[2018-10-02 21:19] longman391 commented on #59
This seems to have gotten worse since the fall Windows 10 update. It now causes the file explorer to hang (with some weird refresh issues), which also causes the start menu to disappear completely. Restarting the file explorer solves the issues but only until UELI is invoked again.

[2018-10-03 06:09] oliverschwendener commented on #59
Remove all entries in `applicationFolders` and `fileSearchOptions` in your config. Does it still freeze?

[2018-10-04 20:28] oliverschwendener commented on #59
I have no problems with Windows 1809. Is there any difference when applying the steps I mentioned above?

[2018-10-05 05:48] michabbb commented on #48
Great, thanks a lot 👍👍👍

[2018-10-05 13:20] govindKAG opened #61 "Search web by default if there are no results"
I have been enjoying this app so far but there is one feature I miss sorely from alfred on MacOs.
If you type something and there are no relevant results in ueli, it'd be a good idea to search some default search engine with that query (say google or duck duck go).
When you want to search something like "when is the winter solstice" you can just hit alt+space and mindlessly type it in. Having to t

[2018-10-05 13:33] oliverschwendener commented on #61
There is a feature called 'fallback websearch'. If you are using the latest version you can open the settings with `ctrl+i` and then under 'Fallback web search' select a web search engine. If you are using an older version than 6.1.0 then you have to specify a `fallbackWebsearch` in your config file (see [here](https://github.com/oliverschwendener/ueli/tree/v6.0.0#fallback-web-search-engines)).

[2018-10-05 13:33] #61 closed

[2018-10-08 06:25] govindKAG opened #62 "Ignore mouse until it is moved"
When typing in a query most people will tend to leave the mouse in the middle of the screen, this often interferes with the search results. Often the top result is ignored in favor of the result the mouse pointer happens to be over.

A possible solution could be to ignore the location of the mouse pointer until it is moved, or to not change the currently selected the search result based on the mou

[2018-10-08 06:29] #62 closed

[2018-10-08 06:45] oliverschwendener commented on #62
You can disable mouse interaction in the settings. If you are using v6.1.0 or later then open the settings with `ctrl+i`. If you are using v6.0.0 or older you have to modify your [config file](https://github.com/oliverschwendener/ueli/tree/v6.0.0#customization).

[2018-10-08 07:50] oliverschwendener opened #63 "Mouse interaction bug"
If mouse interaction is activated the active search result jumps always to mouse position even if mouse is not moving.

[2018-10-08 14:42] LalaGhost opened #64 "Adding a new web search engine"
My info:
ueli: 6.1.0
Electron: 2.0.8
Chrome: 61.0.3163.100
Node: 8.9.3
V8: 6.1.534.41

My config file path is set correctly.

I did not find any documentation that explains how to add new websites for the 'Web search engines'.
I tried to to add Amazon by adding this url:
'https://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=ÅMÅŽÕÑ&url=search-alias%3Daps&field-keywords='
so that anything you add after

[2018-10-08 17:07] oliverschwendener commented on #64
You have to press the + button :)

[2018-10-08 17:16] LalaGhost commented on #64
Wow, that was way to easy^^
Could you answer how I can add an Icon?

[2018-10-08 20:56] oliverschwendener commented on #64
You can add the code for an svg icon or an html `<img>` tag in the `icon` field. I recommend  [icons8.com](https://icons8.com/) for icons.

[2018-10-09 08:09] oliverschwendener commented on #63
Fixed. Will be included in the next release.

[2018-10-09 08:09] #63 closed

[2018-10-09 09:05] maku commented on #58
@oliverschwendener Great, thank you very much...

[2018-10-12 07:03] oliverschwendener commented on #59
@nekofurball @longman391 ?

[2018-10-12 12:28] nekofurball commented on #59
Sorry for my lack of responses.
Since the latest update the issue has been resolved. I have no more issues with Ueli!

Thanks!

[2018-10-12 12:28] #59 closed

[2018-10-24 07:32] oliverschwendener commented on #54
I think this feature has to wait until I rewrite the current code base to async.

[2018-10-24 07:37] oliverschwendener commented on #47
Unfortunately this has to wait until i rewrite the current code base to async.

[2018-10-25 13:33] apaarfus commented on #54
Good luck--I'd love to help, though I only vaguely understand how JS handles async...and even then, I'm actively avoiding it in my own projects for the time being.

[2018-10-31 19:35] khanhas commented on #54
I really like this idea so I decided to tackle it today. Firstly I tried querying COM object `Shell.Application` in Powershell

[code]

After that, uses method `$a.Windows()` to have a list of Explorer instances with their handle and location path, you can now loop over them and format to suitable output to parse them later in TS.

Problem with this solution is it's too slow, you can guess how man

[2018-10-31 19:53] apaarfus commented on #54
Honestly, looking (and thinking about it), I quite like the implementation shown by Khanas--namely that the "search in explorer" function requires ueli to be launched/visible prior to performing the search operation.

I do quite like the "search in focused file explorer" feature of Listary--but the instantaneous search mechanism can be a bit annoying when you've unintentionally focused the browser

[2018-11-12 14:05] moses-bowman opened #66 "Web Search Engines"
1. **Spaces**
- search engines such as Google use **+** for spaces:
https://google.com/search?q=random+search+term
- some use _hyphens_, _%20_, and whatnot
- is there a way to instruct ueli to use which spacing for queries?

2. **Suffixes**
- some search engines suffix search terms which return 404 error when omitted
- suffixes on ueli's custom search engine might be useful

[2018-11-26 12:21] govindKAG opened #69 "Ueli settings/ ctrl+i not working"
Following the readme I tried pressing ctrl + i to open the ueli settings which did not do anything. I also tried searching for "ueli settings". There was only one result named "local settings" , pressing enter gives me an error message saying permission denied. I ran Ueli as administrator just to be sure, but the same thing happened again. Am I missing something obvious?
running on windows 10 pro

[2018-11-26 13:56] oliverschwendener commented on #69
What is your version of ueli?

[2018-11-27 03:47] govindKAG commented on #69
Yes, this was the issue. Working now that i got the latest version.

[2018-11-27 03:47] #69 closed

[2018-11-28 07:31] GitBiker opened #70 "Shortcut does not work"
The Whatsapp shortcut example works but the shortcut below does not work. The url works fine in Firefox. Is there a way to switch of the validation of urls?

  "shortcuts":
  [
        {
            "name": "wiki",
            "executionArgument": "http://company-wiki/",
            "icon": "<svg>...</svg"
        }
    ]

[2018-11-28 07:44] oliverschwendener commented on #70
I think you are running an older version of ueli. Install the newest version from here: https://github.com/oliverschwendener/ueli/releases/latest and try again.

[2018-11-28 07:47] oliverschwendener commented on #70
Ah I see the problem now. This is a bug. `http://company-wiki` is a valid URL bug ueli treats this as an invalid URL. I will look into this! Thank you for your feedback!

[2018-11-28 08:21] GitBiker commented on #70
Perfect! Thank you. I'm running ueli 6.1.4 on Windows 10.

[2018-11-29 22:41] oliverschwendener commented on #47
Finally! App icons are now shown by default! They are not perfect but it is better than nothing.

![native app icons](https://github.com/oliverschwendener/ueli/raw/master/img/doc/features/app-search.png)

Update is now available ;)
https://github.com/oliverschwendener/ueli/releases/tag/v7.0.0

[2018-11-29 22:41] #47 closed

[2018-12-03 13:04] maku opened #71 "ueli 7 on windows starts many powershell processes"
When I run ueli 7 on win 10, many **powershell** processes are started (starts with 1 and then over time processes are added).

This seems very strange....

[2018-12-03 13:10] oliverschwendener commented on #71
Ueli uses powershell to generate the app icons which are stored in `~/.ueli/app-icon-store`. Maybe this could be optimized, so that only one powershell process is invoked and more. If you don't want ueli to execute powershell commands uncheck "Use native icons" in the settings.

[2018-12-03 13:14] oliverschwendener commented on #71
Here you can see which powershell commands are executed: https://github.com/oliverschwendener/ueli/blob/933543d5f67a3a5566e9e7b5e57d299e3f33c85c/src/ts/icon-service/windows-app-icon-store.ts#L33-L54

[2018-12-03 14:01] maku commented on #71
I had ca. 100 running processes... The I killed ueli... (and reverted back to 6.1.4)

[2018-12-03 14:30] oliverschwendener commented on #71
I'll look into this. There should be a way to only use one powershell process. Thanks for your feedback!

[2018-12-03 14:44] cosimochellini commented on #71
Yes, I also noticed this strange thing, but I had not connected the thing to the last update of ueli

[2018-12-03 14:50] oliverschwendener commented on #71
I think I already found a solution... there should be a way to only use one powershell process for generating the icons. Thanks for your feedback! As I said, you don't have to revert back, just disable the feature "use native icons" in the settings.

[2018-12-03 15:00] GitBiker commented on #71
I tried "use native icons" but then ueli does not show any results. Windows 10, ueli 7.0.0

[2018-12-03 15:03] oliverschwendener opened #72 "No search results when UseNativeIcons is disabled"
Originally posted by @GitBiker in https://github.com/oliverschwendener/ueli/issues/71#issuecomment-443739827

[2018-12-03 15:33] oliverschwendener commented on #71
Created a separate issue for this.

[2018-12-03 15:36] oliverschwendener commented on #72
Fixed this issue. It will be included in the next release.

[2018-12-03 15:36] #72 closed

[2018-12-03 17:03] #71 closed

[2018-12-03 17:15] oliverschwendener commented on #71
Sorry for the hassle. Very stupid mistake. I forgot to kill the powershell process after generating the native app icons. This is fixed now and I released a new version: https://github.com/oliverschwendener/ueli/releases/v7.0.1

Thank you for feedback guys! 🙌

[2018-12-04 05:53] maku commented on #71
Thank you for your fast responding and keep up the great work...

[2018-12-04 11:00] cosimochellini opened #73 "Add a modal confirmation for actions possibly harmful to the user"
[feature request]
![image](https://user-images.githubusercontent.com/24718181/49437903-0932bd80-f7bd-11e8-889f-7e07b04ee238.png)

I think it would be really useful to give the user (perhaps in the settings of ueli) to provide an array of commands which start and preceded by a prompt that says "you are sure you want to run {{action}}", because as in example above turning off the PC unintentionally

[2018-12-04 16:17] oliverschwendener commented on #73
Good idea! Will look into this!

[2018-12-04 18:08] oliverschwendener commented on #73
What do you think about this?

![image](https://user-images.githubusercontent.com/15727229/49463075-dc4fcc00-f7f7-11e8-8c9d-efec853d88bf.png)

[2018-12-04 20:53] oliverschwendener commented on #73
Of course. If you press enter on a "dangerous" item this dialog pops up and you can either proceed with `Enter` or cancel with `Escape`.

![image](https://user-images.githubusercontent.com/15727229/49472120-e6c99000-f80e-11e8-950f-ae1520b36670.png)

[2018-12-04 21:23] oliverschwendener commented on #73
Plus there will be a user option to disable this feature.

[2018-12-05 10:09] maku opened #74 "ueli 7 - popup error window on icon resolving..."
Since version 7.0.1 I get from time to time an error popup window (on windows 10)

![image](https://user-images.githubusercontent.com/64805/49506198-c8e74400-f87d-11e8-9ece-9ec9070514d1.png)

It seems this a background operation and the error occurs on resolving icons for URL's (Files wird extension "url")

[2018-12-05 10:16] oliverschwendener commented on #74
Unfortunately the message does not show the file which can't be found. Try to launch ueli from command prompt or powershell (there the error output should not be cropped) and tell me for which file the icon conversion fails.

[2018-12-05 10:45] oliverschwendener commented on #73
This will be included in the next release.

[2018-12-05 10:45] #73 closed

[2018-12-05 13:06] maku commented on #74
[code]

usw.

[2018-12-05 21:05] oliverschwendener commented on #74
This should be fixed now. The fix will be included in the next release.

[2018-12-05 21:05] #74 closed

[2018-12-05 22:56] dextersgenius opened #75 "Settings window freezes if filesearch contains network paths"
When adding network drives to the file search options, or simply just scrolling in the settings window after adding a network path, the window freezes and becomes unresponsive for several minutes.

![image](https://user-images.githubusercontent.com/1624052/49549461-b2102280-f94d-11e8-92f6-ccb0287fb1c8.png)

The network drive in question doesn't have many files, even if I only add one path with abo

[2018-12-07 09:59] oliverschwendener commented on #75
What happens when you uncheck the "recursive" option?

[2018-12-10 16:07] cosimochellini opened #76 "[feature request] Command to run as administrator"
Hi, I understand that it is a difficult function to implement, but as a developer, I often have to start applications as an administrator, it would be possible, maybe when you're preemptive on the shift, run the app selected as an administrator?
Thanks for your patience

[2018-12-10 18:48] oliverschwendener commented on #76
Ueli is build with electron and uses node.js to interact with the operating system and execute os specific commands such as opening files and programs. As far as I know it is not possible to start an application as admin/bring up the UAC dialog. If you always want to open specific programs as admin you can do the this:

1. Search for the app

![image](https://user-images.githubusercontent.com/1572

[2018-12-12 06:33] khanhas commented on #76
In release binaries, Electron put `elevate.exe` in `resources` folder, I don't know why but it's there:
![image](https://user-images.githubusercontent.com/26436809/49850919-fc901400-fe11-11e8-93be-1675e2b6861a.png)

You can use it to open shortcut as Administrator, just execute it with shortcut path as parameter
[code]

[2018-12-12 20:06] oliverschwendener commented on #76
@khanhas Thank you for your research, I will look into this!

[2018-12-12 20:54] oliverschwendener commented on #76
For me it doesn't always work. For example the Windows command prompt or Notepad won't work as expected. When I execute

```.\resources\elevate.exe C:\Users\Oliver\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Accessories\Notepad.lnk"```

Notepad does start (I checked in the Windows Task Manager) but there is no Window. Any idea?

[2018-12-13 10:02] khanhas commented on #76
Yeah, it doesn't open CMD and Notepad in my side too, weird.

[2018-12-13 10:05] khanhas commented on #76
How about powershell command?
[code]

[2018-12-14 06:54] oliverschwendener commented on #76
Does this bring up the UAC dialog? Or do you have to enter the user's password on the command line?

[2018-12-14 07:44] khanhas commented on #76
Yes, it does bring up UAC dialog as expected in all elevated programs.
And no, users don't need to enter password.

[2018-12-14 18:00] oliverschwendener commented on #76
Oh nice! @khanhas Thank you for your research!

[2018-12-14 19:16] oliverschwendener commented on #76
@cosimochellini Added the possibility to launch programs as admin. Will be included in the next release.

@khanhas Thank you for your research!

[2018-12-14 19:16] #76 closed

[2018-12-18 02:16] e58 opened #77 "Re-Arrange Fallback Web Searches"
From time to time I add / remove `fallback web searches` (which is what I mainly use **ueli** for)

![teamviewer_2018-12-18_10-10-28](https://user-images.githubusercontent.com/4016451/50127799-870ec280-02ad-11e9-9e80-7b4da5633250.png)
searches

It would be great if they could be re-arranged as priority searches vary

[2018-12-18 06:48] oliverschwendener commented on #77
Nice idea! I will look into this.

[2018-12-19 13:51] LalaGhost commented on #66
As far as I know, your first point, moses-bowman, is already fixed. At least it works for me.
Ueli is not adding '+' signs in between the words but nonetheless it works

Link to video in my dropbox:
https://www.dropbox.com/s/a5jdauvwh9bk3kr/ueliGoogleSearch.mp4?dl=0

[2018-12-19 13:55] LalaGhost opened #78 "Scrollbar is not fully selectable"
When you want to scroll via picking up the scrollbar and moving the mouse
Only about the left half works, it's a minor issue if you want to perfect it

As you see in the video I have Ueli 7.1.0

Link to video in my dropbox:
https://www.dropbox.com/s/ixowtqs80no0lag/ueliScrollbar.mp4?dl=0

[2018-12-20 07:33] oliverschwendener commented on #78
I will look into this as soon as possible

[2018-12-23 16:06] oliverschwendener commented on #66
I added the possibility to specify a special "whitespace character" for web search engines:

![image](https://user-images.githubusercontent.com/15727229/50385248-de0fff80-06d2-11e9-8478-af7c4867b910.png)

If you have set a `Whitesapce Character` all whitespace from your query will be replaced with that character/string.

![image](https://user-images.githubusercontent.com/15727229/50385290-b5d4d080

[2018-12-23 16:06] #66 closed

[2018-12-23 17:02] oliverschwendener commented on #75
@dextersgenius ?

[2018-12-25 22:21] oliverschwendener commented on #78
This seems to be a bug in Chrome/Electron.

For a test I added these lines of CSS so the scrollbar should turn red when hovering over it with the mouse.

[code]

Obviously Chrome does only detect a mouse hover on the scrollbar when the mouse is about 10px over the scrollbar border (from the right side). Here some screenshots:

(Mouse is too far to the right so Chrome doesn't notice the mouse hover

[2018-12-28 16:07] dschuessler opened #79 "Feature request: File search"
As a user I would like to search and open files on my system by name.

On macOS the Spotlight index can be queried with `mdfind -name query` as described here: http://osxdaily.com/2006/12/05/use-spotlight-from-the-command-line-with-mdfind/ Maybe Ueli can make use of that.

[2018-12-28 19:10] dschuessler commented on #79
Ok, I have definitely read the Readme badly. I'm sorry for the noise.

[2018-12-28 19:10] #79 closed

[2018-12-31 14:15] speedych commented on #28
Ich habe auf die Version 7.2 updatet und jetzt läuft UELI nicht mehr. Keine Fehlermeldung (Windows 10)

[2018-12-31 14:45] speedych commented on #28
I have updated from version 7.0 to 7.2. Now starts UELI (I see it when I start as an admin) normal. Only I see nothing on the screen, also in the bottom left of the bar. However, the entry exists in the Task Manager. Also, I deleted UELI and reinstalled, to no avail. I use the latest version of Wondows 10.

[2018-12-31 14:46] oliverschwendener opened #80 "7.2 does not work"
I have updated from version 7.0 to 7.2. Now starts UELI (I see it when I start as an admin) normal. Only I see nothing on the screen, also in the bottom left of the bar. However, the entry exists in the Task Manager. Also, I deleted UELI and reinstalled, to no avail. I use the latest version of Wondows 10.

_Originally posted by @speedych in https://github.com/oliverschwendener/ueli/issues/28#issu

[2018-12-31 14:56] oliverschwendener commented on #80
@speedych can you provide me the content of your config file? Probably in `~/.ueli.config.json` or `~/.ueli/ueli.config.json`

[2019-01-01 09:56] DesignPress commented on #75
Hi Oliver,

I seriously appreciate the effort you have put into your launcher. It's freezing on me left and right and I can still say its one of my favorites :). That being said the frequency at which they are occurring is rendering it pretty unusable.  And unfortunately I'm not detecting enough of a pattern to report anything useful. It seems to happen most commonly on the settings screen All act

[2019-01-03 16:19] cosimochellini opened #81 "[feature request] Add workflows feature"
As a user, I like the option to build my own workflow, for example, every working morning i open the same programs (["vs code", "visual studio", "git-fork" .... ]) , a nice feature could be to add the ability to config in the **ueli.config.json** a list of workflows that run a list of command callable via ueli

maybe something like this 😄  in the .json
` "workfolows": [
    {
      "name": "work",

[2019-01-04 16:25] LalaGhost opened #82 "When CAPS is on CTRL + I does not work"
When CAPS is on CTRL + I does not work.
Without caps it is working fine.

Just a small issue, if you want to resolve it.

[2019-01-05 10:33] WonaBee opened #83 "Rescan Applications causing windows taskbar to flash"
Hi,

I just found your app and really like it but there seems to be something wrong with it causing all icons on the taskbar to flash every 60 seconds.

I suspect it has something to do with the rescan value because timing the flashing on the default settings causes it to flash every 60 seconds, setting the rescan value to 65 causes it to flash every 65 seconds (timed it manually with my phone).

[2019-01-05 11:43] oliverschwendener commented on #83
Hmm this is weird. Never seen this before.

Do you mean the icons in the task bar?

![image](https://user-images.githubusercontent.com/15727229/50724058-3e496d00-10e7-11e9-80ff-148ae0f88202.png)

..or the icons in the system tray?

![image](https://user-images.githubusercontent.com/15727229/50724060-4ef9e300-10e7-11e9-944b-2434ab8a714e.png)

Basically, you can set the rescan interval as high as yo

[2019-01-05 11:43] oliverschwendener commented on #82
Will look into it as soon as possible!

[2019-01-05 11:53] WonaBee commented on #83
I mean the icons in the task bar, I made a quick screen recording gif of the issue I'm having:
[GIF](https://gph.is/2R8018y)
In order to visualize the problem better I reduced the rescan value to 5 seconds.

The problem exists whether "Show tray icon" is on or not.

One more info: I have 2 monitors and the taskbar on the left side (not at the bottom) on both monitors.

[2019-01-05 18:50] LalaGhost opened #84 "Calculation is slightly off"
When you type '1.1625 - 0.2' its result is '0.9625000000000001'. It the only issue I had with calculations so far.

Screenshot:
![screenshot_3](https://user-images.githubusercontent.com/43962138/50727962-30b1d880-1123-11e9-9656-38611e3df3e6.png)

[2019-01-06 16:57] oliverschwendener commented on #84
Actually this has to do with JavaScript having serious issues when doing math with decimals.

For example see here:
- http://adripofjavascript.com/blog/drips/avoiding-problems-with-decimal-math-in-javascript.html
- https://hackernoon.com/understanding-the-problem-javascript-maths-2119d85dad2a

I have to look into this to find a solution. Thank you for your feedback!

[2019-01-07 10:10] nevara opened #85 "[Feature Request] Add a clipboard manager extension"
add a simple clipboard history feature a la Alfred

[2019-01-07 10:12] nevara opened #86 "Switch to program, if it is already open"
Switch to the opened application, if you type in the name of the program you want to open. If it is not open, start a new instance. Like in macOS.

[2019-01-07 10:23] koobs commented on #86
What a coincidence. I was searching for Open Source Wox Launcher alternatives and ended up here, and a request for the best (alfredapp) feature was opened 7 minutes ago.

I'll add my +1 here. This is a "critical" feature for launcher in order to be maximally valuable in day-to-day use.

I requested this in Wox Launcher a long time ago. Adding detail here in case it helps to understand the use-case

[2019-01-07 13:51] oliverschwendener commented on #83
Do you experience the same issue when the taskbar is at the bottom?

[2019-01-07 13:55] oliverschwendener commented on #75
@DesignPress did you modify the settings? If so, can you provide us your config file (should be in `~/.ueli/ueli.config.json`)?

[2019-01-07 14:06] WonaBee commented on #83
Just quickly tested it:

1. Changed the taskbar from left to bottom
2. Started ueli
3. Same problem
4. Switched it back to left (while ueli is running)
5. Same problem

So yes the problem persists when the taskbar is at the bottom.

[2019-01-07 17:13] LalaGhost opened #87 "White Space Character gets incorrectly inserted in search"
I did not know how to name this 'issue' exactly....
If I search via Ueli on Amazon, because I have registered it as a search web engine under Uelis settings, and I have something typed in under "Whitespace character", in this case it's a '+' for Amazon, Ueli shows this image:
![screenshot_3](https://user-images.githubusercontent.com/43962138/50781839-aeeab800-12a6-11e9-8481-12d66eac105c.png)
if he

[2019-01-07 17:22] LalaGhost commented on #85
If you do not have any problem with adding one more program to your PC, you can download Ditto, works perfect for me.
Press [your registered keystroke], this opens this small window:
![screenshot_2](https://user-images.githubusercontent.com/43962138/50782492-74821a80-12a8-11e9-9d0d-0d1e46bbe537.png)
Then you have several different way to paste something.
1. Press CTRL + a number from 1 to 9 to pas

[2019-01-07 19:41] oliverschwendener commented on #87
I'm not sure if this should be expected behavior. If you want to search for `foo` then you have to type in `a?foo` (without any whitespace between `?` and your search term). The bug then would be that the search result should say...

`Search Amazon for ' foo'`

...with whitespace, because you typed in a whitespace before the actual search term, instead of trimming all starting and ending whitespac

[2019-01-07 20:11] oliverschwendener commented on #82
Fix should be deployed with the next release.

[2019-01-07 20:11] #82 closed

[2019-01-07 20:57] oliverschwendener commented on #87
Never mind, I just found out that this happens only when specifying a special char for whitespaces for search engines. And I can't image that there is any situation where it would make sense to search for something starting with whitespace. So I'll trim the search term and remove any starting or ending whitespace.

Example:

`g? this is my search term ` (whitespace before and after the search term

[2019-01-08 06:59] kajih commented on #83
Same problem: Lapetop 3 screens taskbar at bottom.
No Problem: Stationary 2 screens  taskbar at bottom.
I _Think_ it started at 7.0.1

[2019-01-08 07:03] oliverschwendener commented on #83
Would it be possibble for anyone of you to test this with v6.1.4 ? Make sure you backup your config and count file located in `~/.ueli`.

Here you can download v6.1.4: https://github.com/oliverschwendener/ueli/releases/tag/v6.1.4

[2019-01-08 07:37] kajih commented on #83
v6.1.4 does not flash/pulse but v7.0.0 do

[2019-01-08 07:46] WonaBee commented on #83
I just:

1. Copied the `~/.ueli` folder
2. Uninstalled ueli 7.2.0
3. Installed ueli 6.1.4
4. Replaced the new config file with the backup
5. Set the rescan value to 5
6. No more flashing

So I can confirm kajih's message that the flashing does not occur on version 6.1.4, even with taskbar on multiple monitors and docked on the left side.

[2019-01-08 07:50] oliverschwendener commented on #83
Allright, this is something to start. Thanks for your support! I will look into this.

[2019-01-08 07:53] nevara commented on #85
That's true. Unfortunately I work for a corporation, so we are not using the latest Windows 10 version. And Cloud Clipboard would be deactivated anyway.

I don't like Ditto's interface and would rather have everything integrated.

[2019-01-08 12:10] LalaGhost opened #88 "[Feature Request] Instead of typing an email address, letting Ueli make use of windows contacts"
It's just something to consider.
Wouldn't it be nice if you could just type, for example 'Peter Kraus' instead of peter.kraus@gmail.com to write an email to Peter?
Or better, if you want to plan other functions where you want to use contacts for, write 'mail Peter Kraus' to write an email towards Peter.
You can setup contacts with Windows, maybe you could Ueli have access them, look for the names

[2019-01-08 12:59] oliverschwendener commented on #88
Nice idea, have to look into how to extract the contacts from Windows.

I use TypeScript:

![image](https://user-images.githubusercontent.com/15727229/50832104-78b44380-134d-11e9-9953-c4c48c16caab.png)

[2019-01-09 15:09] 0ANIMEFREAK0 opened #89 "Customization"
Is there anyway i can make the window transparent?

[2019-01-10 15:09] LalaGhost commented on #89
I guess you are somewhat familiar with Alfred?
Maybe you want to download macintosh to you use Apples OS and look into Alfred for some functions you can integrate it into Ueli.
Oh and thanks for developing Ueli, very handy because it's so basic but holds so many functions to speed up your work at the PC! :)

[2019-01-10 16:53] LalaGhost opened #90 "[feature request]Blacklisting special items"
Just a suggestion.
Maybe it would be nice to blacklist specific folder and or files.
For example when I am looking for 'C:\Program Files\Autodesk\Maya2018\bin\Maya' he is suggesting me 'mayabatch.exe' as the first result, but I know that I am always looking for 'maya.exe' in the same folder. It would be a nice feature to blacklist items so they do not pop up in the search.
Under uelis settings the

[2019-01-10 17:15] oliverschwendener commented on #90
It's already there:

![image](https://user-images.githubusercontent.com/15727229/50985028-988d6800-1503-11e9-8dd1-970878e5ae2e.png)

[2019-01-10 17:20] LalaGhost commented on #90
Sorry did not know that.
I tried it out, but I was not able to make it work...
Can I past there a folder path and/or path to files?

[2019-01-10 17:39] oliverschwendener commented on #90
Folder or file names it will ignore

[2019-01-10 17:48] #90 closed

[2019-01-11 16:03] oliverschwendener commented on #28
@nishp77 please open a new issue for that

[2019-01-11 17:38] speedych commented on #28
Hello, Enclosed I send the extension files, friendly greets Peter Rohr

------ Originalnachricht ------
Von: "nishp77" <notifications@github.com>
An: "oliverschwendener/ueli" <ueli@noreply.github.com>
Cc: "Mention" <mention@noreply.github.com>; "speedych"
<rohrp@hispeed.ch>
Gesendet: 11.01.2019 01:24:19
Betreff: Re: [oliverschwendener/ueli] Feature Request: Add .exe files
toshortcutFileExtensions

[2019-01-11 17:38] speedych commented on #28
I not found the extensions. I send a list
Thank you
Peter Rohr

------ Originalnachricht ------
Von: "Oliver Schwendener" <notifications@github.com>
An: "oliverschwendener/ueli" <ueli@noreply.github.com>
Cc: "Mention" <mention@noreply.github.com>; "speedych"
<rohrp@hispeed.ch>
Gesendet: 11.01.2019 17:03:14
Betreff: Re: [oliverschwendener/ueli] Feature Request: Add .exe files
toshortcutFileExtensio

[2019-01-12 04:22] nishp77 opened #91 "Reset Not working"
I removed some extension and left .exe and resetted the settings to default. It didn't work. Please also tell me other file extension that you write in your default settings.

[2019-01-12 10:01] oliverschwendener commented on #91
Did you update the app settings or user settings?

[2019-01-12 11:01] oliverschwendener commented on #89
@0ANIMEFREAK0 I added the option `Transparent window` in user settings:

![image](https://user-images.githubusercontent.com/15727229/51072424-ca681100-1660-11e9-9c98-6bbb3a2edd61.png)

**Note: Changing this option needs a restart of ueli.**

Then you can add a transparent background color in a [custom stylesheet](https://github.com/oliverschwendener/ueli#custom-color-themes).

Example:

[code]

Th

[2019-01-12 11:01] #89 closed

[2019-01-18 09:41] HavermansStef opened #92 "Javascript errors on opening latest versions"
![image](https://user-images.githubusercontent.com/36959568/51378424-87e57f00-1b0d-11e9-8035-4b8cb8384d93.png)

I get this every time. Any quick fixes or packages I miss ?

[2019-01-18 10:11] oliverschwendener commented on #92
What version of Windows are you running?

[2019-01-18 10:45] HavermansStef commented on #92
1809 build 17763.253

[2019-01-18 10:55] oliverschwendener commented on #92
Seems like powershell is not installed or it is not in the PATH environment variable. What happens when enter this command in Command Prompt: `powershell` ?

[2019-01-18 16:28] waqashsn opened #93 "[feature request] Add Everything search support"
Everything by Voidtools (http://www.voidtools.com/) is the fastest and most customizable search tool in my experience. The Khanhas fork (https://github.com/khanhas/ueli/wiki/Everything-mode) of Ueli has implemented it already. Please consider integrating Everything.

[2019-01-18 18:17] HavermansStef commented on #92
Ok I fixed this. The problem was the path variable not being set.
Maybe you can add this to the FAQ and close the issue after it. You can resolve the problem by
* going to system environments,
* selecting system vars instead of user
* find the path variable
* add this to your path C:\Windows\System32\WindowsPowerShell\v1.0

This will fix the bug.
Thanks for your help @oliverschwendener.

[2019-01-20 01:41] zamgill opened #94 "[feature request] For linux"
Hi! I love this app. Please create a linux version for this :smile:

[2019-01-20 12:04] LalaGhost opened #95 "[feature request] Web search engine shortcut with CAPS"
I have google registered as a web search engine for ueli. So I have to type in 'g?'.
But when I type 'G?', nothing happens. Not sure whether you want to implement it or not. Or add a bool whether you want the shortcut case-sensitive or not.

[2019-01-20 12:45] oliverschwendener commented on #95
I think the web search prefix should be case sensitive.

[2019-01-20 12:59] oliverschwendener commented on #84
Fixed this issue with the help of @khanhas, thank you for your help! The fix will be shipped with the next release.

[2019-01-20 12:59] #84 closed

[2019-01-20 13:05] khanhas commented on #84
Mathjs instance we using in both CalculatorInputValidator and Searcher are the same one so you only need to set config once.
You also might want to change precision field in config since default value is really long, 64.

[2019-01-21 07:34] chantisnake opened #96 "Support for plugins"
For both wox and alferd, plug-ins are a essential part of the app and improves usability by a great deal.

Please support developing plug-ins.

[2019-01-21 07:44] #95 closed

[2019-01-21 21:49] #92 closed

[2019-01-21 21:50] oliverschwendener commented on #81
Will look into it as soon as possible!

[2019-01-22 11:30] chantisnake commented on #93
Everything has a very handy command line interface can be found here: https://www.voidtools.com/support/everything/command_line_interface/

[2019-01-22 14:03] chrisonline commented on #38
I have used before the launcher "Keypirinha" and they have a plugin to add all Windows UWP apps.
The plugin is open source and also on Github:
https://github.com/ueffel/Keypirinha-WindowsApps

Can you have a look how they do this ?

[2019-01-22 14:15] oliverschwendener commented on #38
@chrisonline Thank you for your research! I will have a look into this as soon as possible.

[2019-01-22 14:16] cosimochellini commented on #81
take your time, it's nothing urgent :D

[2019-01-22 14:52] chantisnake commented on #96
Here is some documentation on how `wox` handles plugins:

http://doc.wox.one/en/plugin/create_plugin.html
http://doc.wox.one/en/plugin/plugin_json.html

Basically, in each plugin there is a `plugin.json` specifies all the basic metadata including `version`, `name`, etc. There are two things worth noting:
1. UUID: I don't know whether this is necessary, many modern package managers no longer use UU

[2019-01-22 15:33] chantisnake commented on #96
Some functionality to keep in mind while developing plugins:
1. Plugins should be able to install external packages if they want. For example when developing a calendar plugin, a library to generate `ics` file will be really helpful. Therefore we need to handle installing dependency when installing and updating a plugin.
2. We cannot simply invoke a command to the main file, because in a plugin, t

[2019-01-22 17:33] chantisnake opened #97 "Support for more windows URI"
Here is a list of windows URI:
1. Default App Uri: https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-default-app
2. Setting Uri: https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-settings-app
3. Store Uri: https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-store-app (including search in store)
4. Map Uri: https://docs.microsoft.com/en-us/windows/uwp/l

[2019-01-22 17:39] oliverschwendener commented on #97
Did you see this feature: https://github.com/oliverschwendener/ueli#operating-system-settings?

[2019-01-23 10:54] chantisnake commented on #97
Yes, but I think there are some URI missing.

[2019-01-23 20:54] oliverschwendener commented on #84
New version released: https://github.com/oliverschwendener/ueli/releases/v7.2.2

[2019-01-24 18:22] shmykelsa opened #98 "Settings make the program stuck for various seconds"
Whenever I wanna change a settings within Ueli, the program hangs for 20 to 30 seconds. No matter what setting I wanna change. Resulting in Windows obfuscating the window and telling me that Ueli is not responding.

Ueli version: 7.2.2

PC Specs

I7 6700HQ @ 2.59 GHZ
16 GB RAM
Windows 10 17763.253

[2019-01-25 08:35] oliverschwendener commented on #98
That's why it is so slow. Can you disable the file search feature and then check if the index size was reduced?

![image](https://user-images.githubusercontent.com/15727229/51734350-8aebec80-2084-11e9-9ac1-98d3b91efb75.png)

[2019-01-25 08:37] shmykelsa commented on #98
Yeah, it's now reduced to 712. I'll give it a go and see if it runs any better!

[2019-01-25 08:51] oliverschwendener commented on #98
If you want to enable file search again, then check the file search options:

![image](https://user-images.githubusercontent.com/15727229/51735000-790b4900-2086-11e9-9358-2b1c7af3e81b.png)

Most likely one of the folders contains a lot of files and this causes ueli to slow down.

[2019-01-25 16:14] LalaGhost opened #99 "[Question] How do I upgrade?"
How do I upgrade to the next version of ueli?
So far I have always uninstalled the old ueli version then installed the new one.
Can I maybe just pull the new version into the old one and replace everything?

[2019-01-25 18:54] anuragdeshpande opened #100 "Space bar in windows update throws windows script error"
I am typing "windows update" in the search box, as soon as I hit space bar I get nasty windows script error.
Screenshot attached.
![space bar error](https://user-images.githubusercontent.com/3684197/51766492-f1c6d100-2097-11e9-99f7-37e9fe2caa48.jpg)

[2019-01-26 10:55] shmykelsa commented on #98
It is indeed better, I must say. But it still gets somewhere around 5 to 10 seconds, even with an index of 244. Again, the window gets greyed out by Windows and it's completely stuck. Then it un-freezes.

[2019-01-27 08:08] oliverschwendener commented on #98
Hmm, shouldn't be that slow... Just to test: uncheck the "Programs" feature and then check if it is still slow?

[2019-01-27 08:19] oliverschwendener commented on #99
https://github.com/oliverschwendener/ueli#updating

[2019-01-27 08:19] #99 closed

[2019-01-27 09:05] shmykelsa commented on #98
Okay, I made a clean install, resetting all my preferences. It seems to be working regardless of "Programs" feature, with all my personal settings. Adding folders with the + sign was a pain. Now it doesn't get stuck anymore.

[2019-01-27 09:20] oliverschwendener commented on #98
Can you explain more why "Adding folders with the + sign" was a pain?

[2019-01-27 10:40] shmykelsa commented on #98
With that sentence I mean that adding folders (like the ones to specify programms or files paths) was particularly slow. Also removing them, to be fair.

[2019-01-27 17:54] AndersJpg opened #101 "[Feature request] Calculator Conversions"
possible to make the calculator work like the windows one that can do Conversions on the go :)?

[2019-01-27 21:53] oliverschwendener commented on #101
![image](https://user-images.githubusercontent.com/15727229/51807375-492a9400-2286-11e9-8dae-c2fcb906aef3.png)

Like this?

[2019-01-28 02:04] anuragdeshpande commented on #100
I am using the latest version of the software. UELI settings says it is the latest version is running. Config file pasted om the box. file attachments do not support json format.

`{
  "allowMouseInteraction": false,
  "alwaysShowOnPrimaryDisplay": false,
  "applicationFileExtensions": [
    ".lnk",
    ".appref-ms",
    ".url",
    ".exe"
  ],
  "applicationFolders": [
    "C:\\ProgramData\\Micro

[2019-01-28 10:34] oliverschwendener commented on #100
Ok I see that your custom commands are a little messed up.

This is how your custom commands look like:

[code]

Delete these custom commands and move them to "shortcuts". Probably you updated from version 5.x to a newer version without migrating your shortcuts: See docs here: https://github.com/oliverschwendener/ueli/releases/v6.0.0

[2019-01-28 14:03] #100 closed

[2019-01-28 14:08] oliverschwendener commented on #98
If adding the application folders was slowing down the app then your application folders might be huge and have a ton of subfolders which take so long to scan. It's recommended only to specify folders with shortcuts files. You shouldn't add "top-level" folders because they will be scanned for apps **recursively**. Can you show me a screenshot of your application folder settings?

[2019-01-29 01:54] summershrimp opened #102 "Behind proxy?"
Hi, my company's network needs a proxy to access internet. How can i set a proxy for this?

[2019-01-29 07:19] oliverschwendener commented on #102
Ueli does not need any internet connection, so I guess you won't have to set up a proxy for it. Auto updating might not work though.

[2019-01-29 11:10] thatKaran opened #103 "Potential memory leak"
Found Ueli consuming over 1GB of my RAM today. Running on Windows 7 Enterprise. No major customization. See attached screenshot and config.

**Ueli Info:**
ueli: 7.2.1
Electron: 2.0.8
Chrome: 61.0.3163.100
Node: 8.9.3
V8: 6.1.534.41
Index size: 299

![image](https://user-images.githubusercontent.com/4639664/51903786-0d591100-23e3-11e9-9f9f-10a9beee319d.png)

**System Info:**
OS Name	Microsoft Wind

[2019-01-29 12:16] oliverschwendener commented on #103
How much memory does it consume when you quit and restart ueli?

[2019-01-30 07:19] thatKaran commented on #103
Between 50 to 100 MB.

Also, got this error today. Might be related --

![image](https://user-images.githubusercontent.com/4639664/51964709-56fe3600-248d-11e9-9721-8168aca3f023.png)

[2019-01-30 07:20] oliverschwendener commented on #103
Ok then it really might be a memory leak, I will look into this. Thanks for your feedback!

[2019-01-30 07:23] GitBiker opened #104 "google search with hash sign does not work"
the command
g?c# stack

searches for "c" only and not for "c# stack" as expected.

[2019-01-30 08:05] oliverschwendener commented on #104
I added the option `Encode search term` so the search term will be URL encoded.

If this option is enabled `g?c#` should lead to `https://google.com/search?q=c%23`.
If this option is disabled `g?c#` should lead to `https://google.com/search?q=c#`

![image](https://user-images.githubusercontent.com/15727229/51966846-f57a9f00-246d-11e9-8c27-34665cead7a2.png)

[2019-01-30 08:05] #104 closed

[2019-01-30 09:18] shmykelsa commented on #98
It does. Though the freeze situation got better in my third to last comment

[2019-01-31 07:38] GitBiker opened #105 "show last command(s)"
It would be nice to have the last command (select all) in ueli. It happens quite often that I just want to do the same thing a few times but just a little different. Editing the last command is much easier (wox, alfred) than typing everything all over again.

[2019-01-31 07:40] khanhas commented on #105
![image](https://user-images.githubusercontent.com/26436809/52039091-2dfda400-2566-11e9-8c37-f95494061612.png)

[2019-01-31 07:43] oliverschwendener commented on #105
https://github.com/oliverschwendener/ueli#keyboard-shortcuts

[2019-01-31 07:43] #105 closed

[2019-01-31 07:56] GitBiker commented on #105
Thank you!

[2019-01-31 10:41] #102 closed

[2019-02-01 14:01] AndersJpg commented on #101
just like that do need currency conversion :D

[2019-02-03 21:20] 0ANIMEFREAK0 commented on #89
sorry for the late reply thanks

[2019-02-05 00:24] TuRDMaN opened #106 "[Feature Request] Windows Context Menu"
Hi, I've been using Find and Run Robot for a while, and I'd really like to switch to Ueli.

However, there is one feature of FaRR that is not in Ueli that is kind of a dealbreaker for me.

From the results list, it would be great if there was a way to activate the Windows Context Menu for a certain item. (ie: searching for a .bat file, then open the context menu to choose either run, edit, etc.)

[2019-02-05 00:25] TuRDMaN opened #107 "[Feature Request] Show Full Paths"
One feature that I'd like to see in Ueli is the option to show full paths to all the results. And also an option to show the path on all results, without having to highlight them in the list first.

[2019-02-06 09:37] generic-user commented on #102
If ueli does not require on active connection then how do you use online mode --> alt + s ?
![image](https://user-images.githubusercontent.com/1516035/52332535-30934a00-29fb-11e9-941c-04048dac5cab.png)

[2019-02-06 09:55] oliverschwendener commented on #102
You are not using the original version of ueli but @khanhas' fork: https://github.com/khanhas/ueli. Contact him for help.

[2019-02-07 06:52] oliverschwendener commented on #75
Closing due to inactivity

[2019-02-07 06:52] #75 closed

[2019-02-07 06:53] oliverschwendener commented on #80
Closing due to inactivity

[2019-02-07 06:53] #80 closed

[2019-02-07 06:53] oliverschwendener commented on #106
Will look into this as soon as possible!

[2019-02-07 06:54] oliverschwendener commented on #107
Good idea! Will look into this as soon as possible.

[2019-02-07 07:03] oliverschwendener commented on #107
I added the option the option `Show description on all search results`:

![image](https://user-images.githubusercontent.com/15727229/52395460-8ffe6200-2aae-11e9-9e12-cd427ffe062f.png)

When enabled, it will show the description on all search results without having to highlight them:

![image](https://user-images.githubusercontent.com/15727229/52395495-b0c6b780-2aae-11e9-88e8-9c308c825a95.png)

If

[2019-02-07 07:17] #107 closed

[2019-02-08 13:14] TheBluKnight opened #108 "Writing '#' as the first character in search causes an error"
Tried to test if the app supports hex color search by writing '#' followed by the color number but instead I got this after I press '#'.
 ![2019-02-08 17_08_30-clipboard](https://user-images.githubusercontent.com/38782877/52480348-d9d96c00-2bc4-11e9-966b-562f2f8cc737.png)

[2019-02-08 14:08] oliverschwendener commented on #108
Fixing this as soon as possible!

[2019-02-08 17:40] #108 closed

[2019-02-08 17:56] oliverschwendener commented on #108
Released a new version with a fix: https://github.com/oliverschwendener/ueli/releases

[2019-02-10 07:04] jcklpe commented on #94
Hey just wanted to put my support in for this feature. I currently work on Windows (personal laptop), linux (home cloud server), and mac (work laptop). I use Listary, Albert, and Alfred for these three and looking at this project it seems to cover most of the features I'd like to use, and if I could use a single app between all 3 I would be extremely happy.

[2019-02-10 07:09] jcklpe commented on #89
@oliverschwendener This is excellent. Would you be able to add the blur effect that was added in this fork of your project? https://github.com/khanhas/ueli#features

[2019-02-10 08:14] oliverschwendener commented on #93
Will look into this as soon as possible!

[2019-02-10 13:11] Phibonacci commented on #46
[This article](https://answers.microsoft.com/en-us/windows/forum/windows_10-windows_store/starting-windows-10-store-app-from-the-command/836354c5-b5af-4d6c-b414-80e40ed14675) should help you.

Use the powershell command `Get-AppxPackage` to list the Installed Store Packages. Get only the desired columns with pipe `ft ColumnName1, ColumnName2 -AutoSize`.

i.e. : `Get-AppxPackage | ft Name, PackageF

[2019-02-16 18:03] Fantoom opened #109 "How to create custom commands??"

[2019-02-18 09:39] oliverschwendener commented on #109
Open the settings with <kbd>Ctrl</kbd><kbd>i</kbd> or search for "ueli settings". Go to the section `Custom Commands`, here you can add custom commands by filling out the fields and then press the plus button on the right to save it.

![image](https://user-images.githubusercontent.com/15727229/52941145-6f64c080-3368-11e9-8e3d-e38b27cea3c5.png)

Lets say you often want to execute `ping` with differ

[2019-02-18 20:25] vsxed opened #110 "Generation app icons leads to weird explorer refresh"
Info:
ueli: 7.2.5
Electron: 2.0.8
Chrome: 61.0.3163.100
Node: 8.9.3
V8: 6.1.534.41
Index size: 422

OS: Windows 10 1809

Everytime (and that's pretty often for that task, i think) the app icons are generated ("Successfully generated all app icons"), exporer seems to be restarting/refreshing, which leads to blinking (quickly dis- and the re-appearing) taskbar icons, while running ueli.

Heres the l

[2019-02-18 21:25] oliverschwendener commented on #110
@vsxed Thank you for your feedback! This is a known issue => #83

[2019-02-18 21:28] oliverschwendener commented on #83
@WonaBee @nevara @kajih What happens if you disable "Use native icons" in the settings?

![image](https://user-images.githubusercontent.com/15727229/52977140-6f96a780-33cc-11e9-8b34-47adeba4e594.png)

[2019-02-18 21:49] vsxed commented on #110
Thanks for the fast response.
Unfortunately it's still flashing with disabled native icons feature in the settings

[2019-02-18 21:51] oliverschwendener commented on #110
Then I think it's not the app icon generation that causes the flashing. Do you have multiple monitors?

[2019-02-18 21:57] vsxed commented on #110
Single monitor (LG 38UC99-W)

Was just an assumption, since it flashed everytime a second before the log message appeared

[2019-02-18 22:02] oliverschwendener commented on #110
Yes of course, it would have been possible.

[2019-02-19 01:30] 5paceToast commented on #83
@oliverschwendener I'm affected as well (and it's sufficiently annoying to keep me from properly evaluating ueli).
Disabling "Use native icons" has no effect - the blinking continues.

(To give more data, as per above: 2x 1440p monitors, taskbar at the bottom, latest Windows 10, flashing observed in both taskbars, ueli 7.2.5 (from scoop))

[2019-02-19 16:03] alanaasmaa commented on #96
Ueli looks like currently best launcher i have found. But it really needs simple way to create own plugins and features. Currently [hain](https://github.com/hainproject/hain/) seems to be best option for me, but for some reason I like ueli more.

Maybe I can somehow help with plugins?

[2019-02-19 16:16] alanaasmaa commented on #93
For an example Wox requires to install Everything as a service. I think this is best to be installed as service, but it would be awesome if it can be bundled with ueli installer (not sure how we should handle other OS).

Everything IS BEST and FASTEST so i think if it replaces ueli default search it would be awesome.

Here is an example how to use it *=>*
`C:\Users\AlanAasmaa\.ueli\es.exe -n 10 -s

[2019-02-19 16:24] alanaasmaa opened #111 "[Feature Request] Replace win ALT+TAB"
Hi,

I'm also came from WOX and really miss the ALT+TAB feature.
https://github.com/orzFly/Wox.Plugin.Switcheroo

Maybe ueli could also implement https://github.com/kvakulo/Switcheroo somehow?

[2019-02-19 16:57] alanaasmaa commented on #81
On windows you could do something like this
`>cmd.exe /k "start https://google.com & start https://www.reddit.com/r/webdev & code"`

but currently there is an issue here https://github.com/oliverschwendener/ueli/blob/d3ecfb429de4d70c0613e2271b32dca742991b6c/src/ts/helpers/string-helpers.ts#L6 thats splits everything to seperate command. When you would replace `.split(/\s/g);` to `.match(/"(?:\\"|\

[2019-02-19 21:06] oliverschwendener commented on #111
Can you explain what this feature does?

[2019-02-19 21:11] alanaasmaa commented on #111
I would like to have Switcheroo a like implemented in ueli.

It would make alt tabbing faster.

[2019-02-19 21:15] oliverschwendener commented on #111
And what **exactly** is faster?? Can you explain in more detail please?

[2019-02-19 21:23] oliverschwendener commented on #110
Closing this issue because it's a duplicate of #83. If you have more information how to reproduce this bug please comment in #83.

[2019-02-19 21:23] #110 closed

[2019-02-19 21:26] #109 closed

[2019-02-19 21:26] alanaasmaa commented on #111
Do you use windows OS?

I dont know how i could explain it better.

Quote from witcheroo:
[code]

So for example i have 20 apps open.
I do not have to press ALT+TAB and find the app with arrow keys. I could just press ALT+TAB and then ueli pops up whit some prefix and then i could just start typing app name.

Take a look for eaxample of Wox i added.

[2019-02-20 00:13] keekuu opened #112 "ELI5: ExecuteArgument"
Hi there, I'm new but I've reviewed the Issues related to custom command threads. I'm sorry I know this might be obvious but it is not to me and it wasn't explicitly explained anywhere.

I want my own custom search style. I dont want to type the question mark. Instead of google searching by typing in "g? SEARCHTERM" I just want to be able to do "g SEARCHTERM".

I think I can do this with custom co

[2019-02-20 17:05] oliverschwendener commented on #111
Ok now i get it. This is a nice idea. Currently I am working on a total rewrite of the core to support async plugin (currently everything is synchronous). When I'm done with that we can look into this.

[2019-02-20 17:06] oliverschwendener commented on #93
Currently I'm working on a total rewrite of the core to support async code (essential when executing 3rd party binaries or making http requests). I am planning to add a everything plugin by default but the user has to install everything and es by himself.

[2019-02-20 17:07] oliverschwendener commented on #91
Closing due to inactivity.

[2019-02-20 17:07] #91 closed

[2019-02-20 17:13] oliverschwendener commented on #81
Good idea! Because I am working on a total rewrite you have to wait for this until I release the major version.

[2019-02-20 17:13] #106 closed

[2019-02-21 15:25] LalaGhost opened #113 "[feature request] Add suffix to web search engines"
Hey I wanted to implement a command to search for a synonym on this website:
https://synonyme.woxikon.de/synonyme

But it needs ".php" as a suffix in the url at the end.

This does not work:
https://synonyme.woxikon.de/synonyme/fliegen
This does:
https://synonyme.woxikon.de/synonyme/fliegen.php

"fliegen" is the german word for "to fly".

So adding custom suffix to the urls would be nice.

[2019-02-21 15:29] LalaGhost opened #114 "[enhancement] Change the '?' to something different"
Is there a way to change the '?' you have to type for Ueli to make use of the web search engines?
Would be a nice feature to have. Maybe the standard is a '?' but you are able to change that?

[2019-02-21 15:33] oliverschwendener commented on #113
You don't need to specify a suffix. Try this as the URL for your web search: `https://synonyme.woxikon.de/synonyme/{{query}}.php`

[2019-02-21 15:36] LalaGhost commented on #113
Oh, works perfectly! Thanks!
Is this somewhere in the documentation specified?

[2019-02-21 15:38] oliverschwendener commented on #113
It's a little hidden but it is here: https://github.com/oliverschwendener/ueli#options => `websearches` => `url`

[2019-02-21 15:38] #113 closed

[2019-02-21 15:43] oliverschwendener commented on #114
I am working on a big update, and I am planning to allow more unrestricted prefixes for all kinds of plugins.

[2019-02-21 15:50] LalaGhost opened #115 "[bug] Ueli window is not transparent"
These are my settings:
![screenshot_1](https://user-images.githubusercontent.com/43962138/53181824-9afdda00-35f8-11e9-8591-81f9da78cef1.png)

After a restart Ueli still looks like this:
![screenshot_2](https://user-images.githubusercontent.com/43962138/53181823-9a654380-35f8-11e9-955d-2dae7b6b1f59.png)
Should it not be transparent?

ueli: 7.2.2
Electron: 2.0.8
Chrome: 61.0.3163.100
Node: 8.9.3
V8:

[2019-02-21 15:53] oliverschwendener commented on #115
Additional to enabling `transparentWindow` you have set a custom user stylesheet and add a transparent background to it.

https://github.com/oliverschwendener/ueli#custom-color-themes

[2019-02-21 15:57] LalaGhost commented on #115
But how do I exactly set the transparency?
I get it with adding a custom CSS file but where do I define the transparency?

[2019-02-21 15:58] oliverschwendener commented on #115
See: https://github.com/oliverschwendener/ueli/issues/89#issuecomment-453738597

[2019-02-21 16:01] LalaGhost commented on #115
Thanks, can be closed! :)

[2019-02-21 16:01] #115 closed

[2019-02-21 16:11] oliverschwendener commented on #89
@jcklpe Please open a separate issue for this so I can keep track of opened feature requests. Thanks!

[2019-02-21 19:41] jcklpe opened #116 "[Feature Request] Add blur effect to transparency"
This effect seems to have already been achieved on a fork of this project here: https://github.com/khanhas/ueli#features

Seems worth including.

This project is looking great though! I'm currently having to split myself between alfred, albert, and Listary and would love if I could move to a more unified cross platform solution.

[2019-02-21 22:08] keekuu commented on #114
I'm pumped for this big update. I think this will resolve my question/help wanted Issue I submitted.

[2019-02-21 23:27] ifigueroac opened #117 "It is possible to make the input text persistent?"
I dont find any option to control this behavior but, It is possible to make the entered text persistent? For example if I type something and close the bar the typed text clears himself but I need that the typed text keeps in bar

If this is not possible at this moment, then can you consider to add this feature in the future?

I love ueli!

[2019-02-22 07:55] oliverschwendener commented on #117
Thanks for your feedback! This is a good idea, could be an option to enable/disable. Will consider this to add in the next release.

[2019-02-22 11:04] LalaGhost opened #118 "[feature request] Currency converter"
This functions seems to have already been achieved on a fork of this project here: https://github.com/khanhas/ueli#features

Converting from one currency to another

[2019-02-22 11:06] LalaGhost opened #119 "[feature request] get bookmarks from browser"
This function seems to have already been achieved on a fork of this project here: https://github.com/khanhas/ueli#features

Type in the name of one of your bookmarks into Ueli and its suggesting to open your bookmark with your favorite browser

[2019-02-22 12:09] oliverschwendener commented on #118
Duplicate of #101

[2019-02-22 12:09] #118 closed

[2019-02-22 13:46] alanaasmaa commented on #111
Understood, It would be also awesome if opening an app by ALT+SPACE would open an existing application rather then creating always a new instance.

For example:
1. ALT+SPACE => ENTER when Chrome selected => opens new chrome
2. ALT+SPACE => ENTER when Chrome selected => opens already opened chrome

And
1. ALT+SPACE => ENTER when Chrome selected => opens new chrome
2. ALT+SPACE => CTRL + ENTER when

[2019-02-22 13:49] alanaasmaa commented on #117
I would like this also.
But when opening ueli second time the text should be selected.

This allows quickly to enter a new cmd or alternatively press enter to trigger last cmd again.

[2019-02-25 07:31] oliverschwendener commented on #117
In case you didn't know, there is the possibility to browse through your last inputs with <kbd>Shift</kbd><kbd>Up</kbd> or <kbd>Shift</kbd><kbd>Down</kbd>

[2019-02-25 18:19] oliverschwendener commented on #112
This is currently not possible. In the next major update you should be able to create less restricted prefixes.

The "execution argument" is the information for ueli "what to execute". For example if you want to open a text file with Visual Studio Code on Windows the execution argument would be:

[code]

Hope this is solves your problem.

[2019-02-25 18:19] #112 closed

[2019-02-26 04:06] jcklpe commented on #94
Just wanted to say that I had to replace my windows laptop so I decided to give Ueli a whirl. It's great! I would love to have this on Linux even in a reduced capacity. I really just use my launcher for search engines (translating, image searching, etc), finding files and folders, running the occasional command, and quick calculations.

This launcher has great visual design and is super snappy tho

[2019-02-27 10:05] #98 closed

[2019-02-27 22:29] keekuu commented on #112
Thanks Oliver. Looking forward to the update.

I understood the concept of "execute argument" but I struggled with understanding how to compose one, what syntax/language to use.  I think I understand now. I needed to learn about [Run commands](https://en.wikipedia.org/wiki/Run_command) and [URIs](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier).

[2019-02-28 18:49] jcklpe opened #120 "[bug] search subsitution variables for search query urls does not seem to work or isn't documented"
Are there any syntaxes that can be used for query variables? As in if I want to use googles lucky search I have to as specific query string as a substitution for the parameter I enter into ueli.

I can't find this anywhere in the documentation

Let's say that the query variable is triggered by the characters "xoxo" then I would have this query in my config files: http://www.google.com/search?q=xox

[2019-02-28 19:24] jcklpe commented on #120
Also I finally found some info on what the default query variable used by google is. They, and many other people use `/%s?`. This however does not appear to work with ueli so I'm guessing it doesn't have the ability to use query variable substitution right now?

[2019-03-01 07:53] oliverschwendener commented on #120
For your web search engine you can add this as URL: `https://www.google.com/search?q={{query}}&btnl`

If you then search for `g?lucky charms` it should result to `https://www.google.com/search?q=lucky+charms&btnl`

Hope this solves your problem

[2019-03-01 11:44] LalaGhost opened #121 "[feature request]Opening several websites command"
Is there a way to open several tabs, for example Ebay and Amazon with your specified input?
Example:
'buy? shoe'

It would be nice if it opens for me Ebay and Amazon in my browser with the word 'shoe' searched.

[2019-03-01 14:52] oliverschwendener commented on #121
This would be something for the workflows feature (#81). Post your ideas in this thread please.

[2019-03-01 14:52] #121 closed

[2019-03-04 13:11] enoversum opened #122 "[Feature request] Change/remember position on screen"
It would be super rad if ueli could remember its (altered) position on the screen once you moved it - I like that pretty window to appear lower on the screen, since I am operating a huge 32" screen :) .

[2019-03-04 17:11] oliverschwendener commented on #122
Thanks for your feedback, going to look into this as soon as possible!

[2019-03-04 20:06] jcklpe commented on #120
Awesome thanks! Sorry I missed that!

[2019-03-04 20:08] #120 closed

[2019-03-04 20:48] jcklpe commented on #94
I'm currently using Ueli full time on my mac and windows machines. If anyone is looking for a linux equivalent then I highly recommend [[Albert]](https://github.com/albertlauncher/albert).

It has a very similar feature set and set-up style. I would really prefer to use Ueli on all my OS or use Albert on all my OS, but for now this is a pretty decent stop gap and there's not a ton of confusion bet

[2019-03-04 21:19] yjagota opened #123 "[Feature Request] Setting for selecting parent folder depth"
Hello,

Please add a setting for selecting parent folder depth in file/folder search so that description shows 'n' number of parent folders for the file/folder.

For e.g.: If I have following files in C:\SearchFolder which is added in File search options ->_ Folder path:
1. C:\SearchFolder\abc\somefolder\file1.txt
2. C:\SearchFolder\abc\somefolder\file2.txt
3. C:\SearchFolder\xyz\somefolder\file1.

[2019-03-05 06:53] oliverschwendener commented on #123
Good idea! Will look into this as soon as possible!

[2019-03-05 08:03] yjagota commented on #123
Great. Thanks.

BTW, displaying the parent folder is also not a bad idea (and a setting for the same):
file1.txt
C:\SearchFolder\abc\somefolder > file1.txt
file1.txt
C:\SearchFolder\xyz\somefolder > file1.txt

This will save a lot of parsing time/overhead.

[2019-03-05 10:38] enoversum commented on #122
Danke, Oliver :) !

[2019-03-05 12:12] oliverschwendener commented on #123
Maybe just an option like "show full file path". If enabled it will show this:

[code]

disabled it will show this:

[code]

[2019-03-12 08:27] GitBiker opened #124 "Confirmation dialog for shortcuts"
It would be nice to have this option. Some of my shortcuts using powershell are "dangerous".

[2019-03-12 08:53] oliverschwendener commented on #124
Good idea. Will implement this in the new release.

[2019-03-15 10:20] GitBiker opened #125 "command line call does not work"
does not work

[2019-03-15 10:26] GitBiker opened #126 ">ping 1.1.1.1 -t"
this ping results in a timeout that keeps running forever.
subsequent cmd calls keep showing "Request timed out."

[2019-03-15 13:00] oliverschwendener commented on #126
`-t` Parameter documentation says:

from https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/ping

[2019-03-15 13:03] oliverschwendener commented on #125
Can you explain in more detail what you are trying to do and what doesn't work?

[2019-03-15 14:08] GitBiker commented on #125
I expect Firefox to load like it does in the normal command window.

[2019-03-15 14:09] oliverschwendener commented on #125
And what is your exact input?

[2019-03-15 14:11] GitBiker commented on #126
ok, thank you! I did not check the syntax.
I wasn't able to stop ueli.

[2019-03-15 14:20] oliverschwendener commented on #126
`-t` makes to commandline program to run forever until you stop it with <kbd>ctrl</kbd><kbd>c</kbd>

[2019-03-15 14:20] #126 closed

[2019-03-15 14:30] GitBiker commented on #125
oh, I'm sorry. There is an error in my first comment.
I use:

[2019-03-15 14:34] GitBiker commented on #125
ok, markdown styling is formatting my text again.
This is my input:
ueli command character"C:\Program Files\Mozilla Firefox\firefox.exe"

[2019-03-15 14:36] oliverschwendener commented on #125
so this?

[code]

[2019-03-15 14:43] GitBiker commented on #125
no, with double quotes around the path.

[2019-03-15 14:43] oliverschwendener commented on #125
And what is the error message you get?

[2019-03-15 14:46] GitBiker commented on #125
nothing happens, nothing is shown.

[2019-03-15 14:49] oliverschwendener commented on #125
Ok, I'll look into this.

Next time please be more precise with your issue description (steps to reproduce the bug/what do you expect to happen/what actually happend, version number you are using, maybe screenshots).

[2019-03-15 14:51] GitBiker commented on #125
you're welcome.

[2019-03-15 19:01] LalaGhost opened #127 "[feature request]Hotkey to open folder of selected file"
Is there a way to open the directory of the searched file within ueli?
Does this function have a specific key combination? I was only able to open the file itself.
![ueli](https://user-images.githubusercontent.com/43962138/54455805-fab15600-475c-11e9-93df-d03bc3abe654.jpg)

[2019-03-16 05:47] moses-bowman opened #128 "[Feature Request] Process Killer"
Wox has a nice [Process Killer](https://github.com/cxfksword/Wox.Plugin.ProcessKiller) plug-in which makes the job of closing processes done easily.

Can you integrate something similar to this?

[2019-03-16 10:40] oliverschwendener commented on #127
https://github.com/oliverschwendener/ueli/blob/master/README.md#keyboard-shortcuts

<kbd>ctrl</kbd><kbd>o</kbd>

[2019-03-16 10:40] #127 closed

[2019-03-18 07:03] oliverschwendener commented on #125
In the meantime: if you want to open firefox why don't you just enter the filepath?

[code]

[2019-03-18 08:38] GitBiker commented on #125
this is what I actually want to do:
cmd "C:\Program Files\Everything\Everything.exe" -instance "ETP Server"

[2019-03-18 20:54] adityasanehi opened #129 "i'm getting this error, how do i fix this?"
I accidentally changed the hotkey to ALT and now I cannot access the app or the settings. I've tried reinstalling multiple times but it still shows a JavaScript Error (cannot register globalhotkey). Any solution to this?

[2019-03-18 21:09] adityasanehi commented on #129
![Error 19-03-2019 02_37_48](https://user-images.githubusercontent.com/20219493/54563784-25670d00-49f0-11e9-8c88-4decf4a95880.png)

[2019-03-18 22:26] anuragdeshpande commented on #129
I had the same issue, try resetting the shortcuts and special commands.

[2019-03-18 22:45] adityasanehi commented on #129
How can I do that? I tried resetting the keyboard settings and it didn't work.

[2019-03-19 08:10] oliverschwendener commented on #129
This has nothing to do with shortcuts and custom commands. `alt` is simpliy a invalid hotkey. Alt is a modifier that works only in combination with another key. Here you can read about which hotkeys are available: https://electronjs.org/docs/api/accelerator#available-modifiers.

There are two ways of fixing this:

1. If you see ueli's icon in your windows system tray: click on it => click on "Sett

[2019-03-19 08:20] adityasanehi commented on #129
Fixed it. I was trying to change the hotkey the other day but it closed on me accidentally leaving 'alt' written under the 'hotkey' section. Thankyou.

[2019-03-19 08:20] #129 closed

[2019-03-24 00:36] raziEiL opened #130 "App weird behavior (Does not work?)"
I see the ueli.exe process in Task Manager but there no GUI on desktop. Rebooting and reinstalling does not help. OS: Win 7

[2019-03-24 11:55] LalaGhost opened #131 "[Enhancement] Changing primary desktop dies not changes Ueli's position"
I have two screens attached to my PC.
When the left screen is my primary display, Ueli does open on my left screen.
But when I change my primary display to the right one, Ueli does still open on my left screen.
It would be nice if Uelis would open on the primary display as the setting say.

I have checked 'Always show on primary display'.

Info
ueli: 7.2.5
Electron: 2.0.8
Chrome: 61.0.3163.100
Nod

[2019-03-24 12:00] oliverschwendener commented on #131
Did you restart the app after you changed your primary display?

[2019-03-24 12:01] oliverschwendener commented on #130
Do you see the icon in the system tray?

[2019-03-24 12:09] LalaGhost commented on #131
Right, kinda makes sense...
No, I did not, after restart it did change it's position....

[2019-03-24 15:33] raziEiL commented on #130
Nope

[2019-03-24 20:40] oliverschwendener commented on #130
Can you show me the content your config file? You can find this file in `C:\Users\<your username>\.ueli\ueli.config.json`

[2019-03-25 02:28] raziEiL commented on #130
Thank you! Problem is solved. I guess I accidentally clicked this checkbox
![notepad++_k95vyHqF1t](https://user-images.githubusercontent.com/2551987/54890871-28b93780-4ecd-11e9-9218-d74b37bf0ecf.png)

[2019-03-25 02:28] #130 closed

[2019-03-25 06:56] #131 closed

[2019-03-25 06:58] oliverschwendener commented on #128
Will look into this!

[2019-03-25 09:32] oliverschwendener commented on #116
Currently [electron](https://electronjs.org/docs/api/browser-window) supports vibrancy (blur transparency effect) only for macOS. Taking a screenshot and setting it as a background image to imitate the native transparency blur effect seems like a workaround for me that I don't want to do. Will have to wait until electron supports vibrancy for windows too. Closing this issue for now.

[2019-03-25 09:32] #116 closed

[2019-03-25 11:40] TobiasDev opened #132 "Can't get shortcuts to work"
Hello,

I'm trying to add a shortcut to some software that Ueli can't find, but I can't get it to work.

  "shortcuts": [
	{
		"name": "Server",
		"executionArgument": "C:\InternalSoftware\start.exe"
    }
  ],

Am I doing something wrong, or how would I go at this?

[2019-03-25 12:33] oliverschwendener commented on #132
I recommend using the GUI to add shortcuts. Press <kbd>Ctrl</kbd><kbd>i</kbd> to open up the settings. To to the section shortcuts and fill in the fields. Finally press the + button to save the shortcut.

[2019-03-25 12:40] TobiasDev commented on #132
Hmm, I tried doing that, but after doing it, I added the folder path to the ExecutionArgument (I want to open an .exe file), added a name and prefix, but all it does is open a random folder. It does not even open the folder with the .exe file in, it opens a folder.

I have not added a icon path at all.

I must be doing something wrong, just not sure what. :(

[2019-03-25 12:58] oliverschwendener commented on #132
I think you are in the wrong section. I think you tried to set up a custom command which is something different. You have to scroll all the way down to "Shortcuts" (see screenshot).

![image](https://user-images.githubusercontent.com/15727229/54921413-02fc5480-4f06-11e9-9904-79f80c52df5f.png)

Shortcuts only need a name and a execution argument (in this case the filepath to your file)

[2019-03-25 13:07] TobiasDev commented on #132
... Sorry... I was. I don't know why I didn't see that... I was so sure I was in the right place. I'm really sorry!

[2019-03-25 13:07] #132 closed

[2019-03-25 13:07] TobiasDev commented on #128
I would also love this feature btw!

[2019-03-25 13:31] oliverschwendener commented on #132
No problem ;)

[2019-03-25 14:24] TobiasDev commented on #38
Are there any updates on this? I know it is closed, just curios. :)

[2019-03-25 14:29] oliverschwendener commented on #38
Not yet. I am working on a rewrite of the core modules to support async code execution. Will look into this as soon I released the the next major update.

[2019-03-25 18:16] jcklpe commented on #116
make sense, thanks!
👍

[2019-03-26 21:59] php-aleskeroff commented on #83
I have a same trouble with blinkin' taskbar and desktop icons. Unchecking "use native icons" does't get any result.

[2019-03-27 10:22] oliverschwendener commented on #83
@php-aleskeroff Do you have more than one monitor?

[2019-03-27 21:00] jcklpe opened #133 "[Feature Request] Convert Hex to RGBA/HSL and visa versa"
This would be a killer feature. Probably one of the things I use in my day to day life. I know some electron based launchers have this feature as a plugin like zazu so maybe there's some logic that can be scraped from there: https://github.com/halvves/zazu-colors

It would also be cool if the output copied to the clipboard and/or in CSS compatible syntax

As always thank you for your fantastic wor

[2019-03-28 05:09] legoniko commented on #83
@oliverschwendener I am affected by this as well. I only have one monitor and my taskbar is at the bottom of my screen. Not only did the icons in my taskbar icons flash, but the icons on my desktop flashed as well. This happened with version 7.2.5. I installed version 6.1.4 and the flashing has stopped completely.

[2019-03-29 09:15] php-aleskeroff commented on #83
No, single monitor

[2019-04-01 02:06] sneak100 opened #134 "Help. Issue when naming opening key as "0" BUG"
For Ueli, I renamed the opening key to 0 and it keeps crashing. I re-downloaded and the same pop-up appears Please fix. Kind of like issue #108 but with just the number 0
![ueli](https://user-images.githubusercontent.com/49135381/55299500-10bf4780-53e8-11e9-980f-8a4dba0a2e05.png)

[2019-04-01 07:17] oliverschwendener commented on #134
You can't assign `0` as global hotkey. The hotkey should contain a modifier (`alt`, `ctrl`, etc.). For your case it could be for example `alt+0`. Here is a documentation about keycodes and key modifiers: https://electronjs.org/docs/api/accelerator#available-modifiers.

[2019-04-02 08:06] chrisonline opened #135 "Remote Desktop connection UELI is not working"
If I connect to my PC with Remote Desktop the Ueli app after hitting the shortcut shows for a millisecond and is disappearing.
Afterwards the shortcut does not show the app anymore.

Only a restart of Ueli does fix the problem.
Needs to be done once after a remote desktop connection. Afterwards all is working fine again.

[2019-04-02 08:24] #134 closed

[2019-04-02 15:17] BhanuKiiran commented on #108
I am not able to install the app on Win 10 PC, I am getting the following error as per the pic
kindly help

![UELI Error](https://user-images.githubusercontent.com/49202357/55414286-75b1a380-5588-11e9-9714-7b962f44110c.JPG)

[2019-04-02 15:48] freestyledork commented on #83
I can confirm this is affecting both my machines(desktop and laptop) that use it. One machine just had a clean windows 10 install 1809 and the other was upgraded to 1809. All the icons flash at the update interval. Using "everything" search program I can see all the jpgs being created when it happens by filtering the c:\ and sorting by date modified. Also might be worth noting I can see a spike in

[2019-04-02 16:20] oliverschwendener commented on #108
@TheBluKnight Look here: #134

[2019-04-02 16:25] oliverschwendener commented on #83
@freestyledork Thank you for your insights! PowerShell is used to generate the app icons. But I think the issue is not caused by PowerShell because if you disable the option "Native icons" PowerShell is not used but the flashing is still there according to other users. I am working on a bigger update and I hope that this issue just disappears magically 😆

[2019-04-02 16:36] freestyledork commented on #83
@oliverschwendener
Might be worth adding, I came across a windows system bug that has a similar effect. The instructions to reproduce the flash are in this video. https://www.youtube.com/watch?v=WT9LHvtGOlU
Seems the original thread is still unanswered:
https://www.windows10forums.com/threads/taskbar-icons-blinking-often.14246/

I have confirmed the icon redraw on my desktop and laptop when changi

[2019-04-02 16:40] oliverschwendener commented on #83
@freestyledork Can you empty your recycle bin and then start ueli and wait until the flashing occurs. Then check if there are any files in the recycle bin. If so, can you make a screenshot of the files that are in the recycle bin?

[2019-04-02 18:32] freestyledork commented on #83
@oliverschwendener I checked on my laptop, set the update to 5 seconds, icons flash as expected... No files were reported in the recycle bin. FWIW I am not sure the recycle bin issue is related, just adding more info on a possibility they were related.

[2019-04-03 07:41] oliverschwendener commented on #83
@freestyledork But do you experience the same issue when deleting files normally in windows file explorer (like in the youtube video)?

[2019-04-03 07:55] guitarchaos64 commented on #83
just thought i'd chime in. I'm experiencing the same issue. running a matebook x pro. I havn't timed it, but flashing happens every 5 - 10 min. makes the whole screen, icons and apps flash

[2019-04-03 14:37] freestyledork commented on #83
@oliverschwendener The flash only occurs if the recycle bin changes icon state. If the recycle bin is empty and I delete a file/folder from anywhere(desktop or file explorer) and it goes to the recycle bin the icons on the taskbar flash. The same happens when I empty the recycle bin if it has one or more items in it. This happens with Ueli installed or if it is not installed (it's not related to U

[2019-04-11 10:01] VoQZHD opened #136 "For some reasons, if i add my shortcuts folder to ueli, the shortut's"
![image](https://user-images.githubusercontent.com/45748775/55948752-00725c80-5c73-11e9-9aef-d441576c35f5.png)

[2019-04-11 10:04] VoQZHD commented on #136
Also, how can i change my language?

[2019-04-11 10:07] VoQZHD commented on #136
Some of shortucs wont recognize at all

[2019-04-11 10:07] VoQZHD commented on #136
![image](https://user-images.githubusercontent.com/45748775/55949206-e5541c80-5c73-11e9-8e45-0e2c824d72a3.png)

[2019-04-11 10:15] moses-bowman opened #137 "Cannot Load Custom CSS File"
My portable programs (including `ueli`) are stored in Google Drive under the `Programs` folder. Inside is a folder called `__appdata` which contains two folders: `config` and `data`.

`ueli`'s config is located in:
`..\__appdata\config\ueli\ueli.config.json`
it can be loaded properly, but not the custom `.css` file which is stored in:
`..\__appdata\data\ueli\style.css`

[2019-04-11 11:28] oliverschwendener commented on #136
You can't. Currently only English is available.

[2019-04-11 11:30] oliverschwendener commented on #137
Does it work if you put your stylesheet somewhere else (e.g. on your desktop folder)?

[2019-04-11 11:31] oliverschwendener commented on #135
Does it work if you open ueli via the system tray icon?

[2019-04-11 11:37] VoQZHD commented on #136
So how can i fix missing files?

[2019-04-11 11:43] chrisonline commented on #135
Will try that tomorrow when I am again connecting via Remote Desktop.

[2019-04-11 14:22] moses-bowman commented on #137
@oliverschwendener

Yes indeed. Originally I had it in a `config` folder along with `ueli.config.json` inside the root directory.

Another thing is that, whenever I try to run `ueli` as administrator using `Listary` or `Quick Access Popup` with this setup, I get this error:
![image](https://user-images.githubusercontent.com/40249465/55964342-1f8ae180-5ca7-11e9-88b9-d6a4224fb84d.png)
The error does

[2019-04-11 14:36] oliverschwendener commented on #137
Why would you need to run it as admin?

[2019-04-12 05:44] VoQZHD commented on #136
Still asking

[2019-04-12 05:49] VoQZHD opened #138 "Enabling Everything search"
I know there are no support, but i found out what you tryed to do it. Is very any atleasy unstable way cuz ueli search works awful for me.

[2019-04-12 05:50] oliverschwendener commented on #138
Duplicate of #93

[2019-04-12 05:50] #138 closed

[2019-04-12 08:50] chrisonline commented on #135
Just tried it and it does also not work if I use the tray icon and select "show".

[2019-04-12 09:56] oliverschwendener commented on #136
What version are you running (open the settings to find out)?

[2019-04-12 10:48] VoQZHD commented on #136
latest

[2019-04-17 17:38] Droyk opened #139 "[Stupid question] what is the shortest way to search files, folders via ueli?"
Umm, this might seem like a really noob question but I have been using listary & everything to search for everything. thought to try something new like ueli.

So right now I am trying to search for my files & folders but it doesn't show me anything. Do I need to enable some settings to get it working? if so what setting?

I like to search my whole computer. I mean I have 4 drives name [C, D, E, F]

[2019-04-17 17:48] Droyk opened #140 "What is the Difference b/w ueli & other search indexers?"
For e.g. khanhas/ueli, Keypirinha, Cerebro, Wox

What's the main difference b/w them?
Is there is any comparison table?

I mean they have almost the same UI providing the same thing, a search indexer to search everything there is.

[2019-04-18 06:44] alanaasmaa commented on #140
Frameworks, performance, plugins etc..

You have to test each of them to find best one.
Currently i'm using Wox. But i'm waiting refactored ueli, then i probably move here.

I'm sure i will start using refactored ueli because:
- Typescript
- Vue
- Plugins

I hope @oliverschwendener will release some pre release soon!!!

[2019-04-18 07:14] Droyk commented on #140
Why not use khanhas/ueli it's more like an updated repo with more features?
or am I missing something? possible to enlighten me?

[2019-04-18 07:17] alanaasmaa commented on #140
@Droyk I have tried also this one, but it felt not right. I have no good reason.

[2019-04-18 07:25] Droyk commented on #140
Possible to elaborate a little?
specifically, what you did not like about it?

[2019-04-21 19:03] oliverschwendener commented on #101
In the upcoming version I added a currency converter plugin and it can be used like this:

![image](https://user-images.githubusercontent.com/15727229/56474327-d4c45300-6478-11e9-8163-2cd3d30f75d5.png)

It uses https://exchangeratesapi.io/ API to get the current exchange rates.

[2019-04-21 19:03] #101 closed

[2019-04-21 19:07] oliverschwendener commented on #114
In the upcoming update this is how you can edit/add web search engines.

![image](https://user-images.githubusercontent.com/15727229/56474384-4e5c4100-6479-11e9-98b7-859dfa5f57c6.png)

You can then freely choose a prefix for the web search engine. Hope this solves your problem.

[2019-04-21 19:07] #114 closed

[2019-04-21 19:14] oliverschwendener commented on #93
In the upcoming update I added an everything plugin. By default this plugin is deactivated because I expect most users not having installed everything on their computer. But if you installed everything (including CLI) on your computer you can activate this plugin and specify a prefix which is used to recognize if you want to use everything search. Additionally you have to specify the file path to

[2019-04-21 19:20] chantisnake commented on #93
Thank you!

[2019-04-25 18:39] oliverschwendener commented on #136
Open "Powershell ISE" and paste following powershell script:

[code]

Instead of the file path given above insert a filepath to one of your shortcuts. Then execute the script with the green play button:

![image](https://user-images.githubusercontent.com/15727229/56759755-ff285000-6799-11e9-86aa-c89206513743.png)

Then check your desktop folder, there should be a `out.png` file. What does it show?

[2019-04-25 18:44] oliverschwendener commented on #139
My suggestion is **not** to use ueli to search your files, especially if you want to search your computer globally. But if you have some folders you access frequently you can add them in the section "file search" in the settings. Otherwise I suggest to use everything to search files globally.

If you already use everything to search your computer globally I have good news for you: currently I am w

[2019-04-25 18:44] #139 closed

[2019-04-25 19:00] oliverschwendener commented on #140
They are all kind of similar. Considering features, there are definitely differences, go check by yourself which launcher comes with what kind of feature set.

Here are some differences that come to my mind:

* ueli & khanhas/ueli both use the Electron framework, and this could be a reason **NOT** to use them. Read more [here](https://medium.com/commitlog/electron-is-cancer-b066108e6c32).
* ueli &

[2019-04-25 19:03] oliverschwendener commented on #133
Thank you for your feedback! I will consider this as a possible plugin for the next release.

[2019-04-25 20:18] alanaasmaa commented on #140
The electron IS the reason for me why i like ueli. And plugins are the reason i wait the big upgrade.

I code mostly JS and i have enough RAM so i would love to make little plugins to make my dev life easy.

Im sure some of them will help others too

[2019-04-25 20:21] oliverschwendener commented on #140
Then I'm sorry to tell you that there are no plans yet to support plugins. :(

[2019-04-25 20:28] alanaasmaa commented on #140
@oliverschwender call them mods and figure something out :)

But srlsy.. why not :(
I have misunderstood something then.

[2019-04-26 05:57] oliverschwendener commented on #140
@alanaasmaa Let's have this discussion in #96

[2019-04-30 06:17] #140 closed

[2019-04-30 14:39] akash-bhattacharya commented on #83
Hi
Just to let you know, that I'm also facing the issue.

Reg//Akash

[2019-04-30 18:06] shashankholla opened #141 "Cant launch vscode from a directory"
Hi
I am trying to launch vscode from E:\
but doing this
`>code E:\`

doesnt seem to work.

[2019-04-30 18:21] shashankholla commented on #141
I figured out that I should be setting the command as

`!code`

Sorry for the trouble!

[2019-04-30 18:21] #141 closed

[2019-05-02 21:22] oliverschwendener opened #142 "Version 8.0 Beta Release"
@TimB87 @olivereisenhut @khanhas @moses-bowman @jcklpe @TobiasDev @LaLaGhost @GitBiker @alanaasmaa @TuRDMaN @thatKaran @chantisnake @WonaBee @cosimochellini @maku @mkkeck @lampenlampen @SplittyDev

Hey, all of you! The last months I was working hard on a total rewrite of Ueli. I have a working Beta version and I want to share it with you so you can test it and give me some feedback. Maybe some iss

[2019-05-02 21:41] TimB87 commented on #142
Hey @oliverschwendener ,

first of all: this looks like a great update and I am very curious to try it out! I just don't use my Win10 a lot lately so this time will be limited, so don't expect much feedback from my side. But if there is something up, I'll get back to you on this issue here (I try to avoid the slack account if you don't mind).

Best regards

[2019-05-03 02:09] jcklpe commented on #142
This looks great! I'm looking forward to trying out the translation stuff

[2019-05-03 06:18] TobiasDev commented on #142
This looks amazing, can't wait to try it out! (Will be first on Monday since I'm currently on vacation)

[2019-05-03 07:59] cosimochellini commented on #142
super excited to be able to contribute to this project!

[2019-05-04 16:58] moses-bowman commented on #137
Don't mind this at all. I had a thought that `ueli` wouldn't run when an active window is run as admin, which was pointed out in another app that I'm using.

Anyway, the error shown on the image with my recent comment started popping up during startup ever since I had the `..\__appdata\config\ueli\ueli.config.json` configuration (regardless whether `ueli` is run admin or not). I'll just open anoth

[2019-05-04 19:39] WonaBee commented on #142
Hi @oliverschwendener ,

I just took a longer look at the new Beta version and I have some thoughts/bug/QoL changes (I'm not sure if you want extra tickets for these so I'm posting them here and you can decide if you want to split them into tickets):

----

General:
- Settings desperately needs a dark theme ;)
- The problem in #83 seems to be fixed in this version so yay
- "File Path" choice needs

[2019-05-05 03:19] moses-bowman commented on #142
Hi @oliverschwendener,

Before with `ueli 7`, fallback searches immediately appear whenever I type something:
![image](https://user-images.githubusercontent.com/40249465/57187795-eb61b400-6f26-11e9-86ac-75efe1f23365.png)

With `ueli 8`, built-in setting(s) appear which I can't seem to find where to disable:
![image](https://user-images.githubusercontent.com/40249465/57187804-1b10bc00-6f27-11e9-849

[2019-05-05 08:36] macca0612 opened #143 "Not found Microsoft App"
Hi, i have installed Ueli and everything works fine, except for a thing, I can not find App that are downloaded from Microsoft Store like Spotify and Netflix, there is something that I can do ? or is a feature not implemented yet ?

Thanks

[2019-05-05 08:44] oliverschwendener commented on #143
See #46

[2019-05-05 08:44] #143 closed

[2019-05-06 13:00] TobiasDev commented on #142
I also have the issues that I can't type f. I thought it was my PC, but I have tried it on three different ones now, without success.

[2019-05-06 13:03] TobiasDev commented on #142
Two things I noticed:

1. When you press enter when wanting to open one of my own shortcuts it UELI blinks once and then it disappears first after 1-2 seconds rather than as soon as I hit enter.
2. When creating shortcuts it is a bit weird that I can only choose a folder and not an EXE or something like that. The work-around for this is too add the folder and then just write the exe you want to us

[2019-05-06 14:15] oliverschwendener commented on #83
I am working on the next bigger version release 8.0.0. You can download a beta version here: #142. Can someone tell me if the issue still occurs in the new beta?

[2019-05-06 14:41] 5paceToast commented on #83
@oliverschwendener I still experience the bug in the new beta.
Reproducing goes as usual: removing old settings (`%APPDATA%\ueli`) (for reproducibility), launching the beta, setting refresh interval to 5 seconds and observing the effect.
Couldn't find any settings regarding "native icons", so did not check toggling that.
The flashing occurs shortly *after* the settings menu shows "Successfully ref

[2019-05-06 14:46] akash-bhattacharya commented on #83
Is there any work around for this ?
Sometimes my icons goes totally stuck and laptop hangs as well

/ Akash

On Mon, May 6, 2019, 3:41 PM Chloe Kudryavtsev <notifications@github.com>
wrote:

[2019-05-06 14:50] WonaBee commented on #83
@oliverschwendener For me in the Version 8 this bug doesn't occur anymore, even if setting the rescan value to 5 like @5paceToast.

[2019-05-06 15:09] oliverschwendener commented on #83
@5paceToast What happens if you disable all plugins in the settings? You can disable the plugins by pressing the green button on the top right. Does the flashing still occur when all plugins are disabled? If not try to enable one plugin after the other and try to find out which plugin causes the flashing.

![image](https://user-images.githubusercontent.com/15727229/57234684-7b842400-7021-11e9-8465

[2019-05-06 16:28] alanaasmaa commented on #142
- I also have the issues that I can't type f. I use FIN keyboard but i event tried to change language.
- Sometimes when i press ALT+SPACE the ueli won't get focus.
- I agree that Everything needs more info how to get it work. Maybe even release version with everything included.
- Sometimes enter does not work also, or ueli somewhat freezes.

I will post more when i have more time.

[2019-05-06 17:32] 5paceToast commented on #83
@oliverschwendener After going every plugin one by one as asked, *only* the Application Search plugin causes the observed behavior.

[2019-05-06 23:52] jcklpe commented on #142
Started using the version 8 today and it's doing great so far! Real big improvements to the settings ui!

[2019-05-07 11:03] oliverschwendener commented on #142
FYI: The bug which prevented pressing the letter `f` should be fixed now.

[2019-05-08 10:52] moses-bowman opened #144 "[Feature Request] Calculations / Conversions / Currencies in Human-Readable Format"
Results from `calculations` / `conversions` / `currencies` are sometimes humongous in digits. It would be easier to read them if they were to be separated by commas:

![image](https://user-images.githubusercontent.com/40249465/57369261-b15f0f00-71bf-11e9-8421-85d74f0ea1f6.png)
**Result**: `=1,000,000`

![image](https://user-images.githubusercontent.com/40249465/57369375-f2572380-71bf-11e9-93ae-a42

[2019-05-08 11:06] oliverschwendener commented on #144
Thanks for your feedback! Sounds reasonable.

[2019-05-08 13:47] bashz0 opened #145 "[Feature Request] Open Share folders"
I would like to see an option to open share folders.
I can open normal folders by typing C:\Users\*.
But it would be very handy if we could open share folders aswell, by tying \ \Share\* for example.

Im not really sure if this is already possible but I couldn't find how to do it.

[2019-05-09 08:09] TobiasDev commented on #142
I have a weird issue. On my work PC I can see all icons when typing "Firefox" or anything. However, on my home PC no icons (except the ones I have added myself) works.

[2019-05-09 08:15] oliverschwendener commented on #142
Thanks for your feedback! Apparently you are not the only one who has this problem. I have to look into this.

[2019-05-09 12:01] oliverschwendener commented on #145
Hmm.. the first question is: is `\\Share\...` a valid Windows file path?

[2019-05-09 12:18] bashz0 commented on #145
Yes, for instance I use it in my company to get to a different user their C:\ disk
![afbeelding](https://user-images.githubusercontent.com/17523231/57452807-03a63b80-7265-11e9-8dff-96e30c0b1e2d.png)

This is also used for instance print servers or file sharing locations
![afbeelding](https://user-images.githubusercontent.com/17523231/57452871-2a647200-7265-11e9-9d10-539ebd8c852f.png)

![afbeelding

[2019-05-09 20:13] oliverschwendener commented on #145
Allright, I will look into this as soon as possible!

[2019-05-10 15:05] TobiasDev commented on #142
I have two new things I've noticed.

1. When using system commands like Shutdown, could you please add back the confirmation box? I was searching for a program and it gave me shutdown at the top and I didn't think about it before hitting enter. This resulted in my PC shutting off. :D I mean it was my fault, but I liked in the old version of the app, that I had to hit enter twice. Once to do the co

[2019-05-10 22:16] oliverschwendener commented on #142
@TobiasDev

This is something that is missing in the beta currently but will be added in the final version.

I updated the beta version in my dropbox link. Can you download the new version and check again if the problem with the icons occurs?

[2019-05-11 17:57] TobiasDev commented on #142
It seems like the icons aren´t back. But maybe I need to reset it somehow?

[2019-05-15 16:23] WonaBee commented on #142
Can also confirm that icons now show up for me and the ability to write the letter "F" is also there!

[2019-05-15 17:15] WonaBee commented on #142
But now I noticed that the flashing of #83 is back. Confirmed by setting the Rescan value to 1 when "Application Search" is active, turning "Application Search" off causes the flashing to stop.

[2019-05-16 05:26] MonstraG opened #146 "Cyrillic cmd output is unreadable"
ueli: 7.2.5
![image](https://user-images.githubusercontent.com/17963791/57828422-e2919d80-77c4-11e9-8edb-011406fda3f2.png)

nuff said.

[2019-05-20 16:19] oliverschwendener commented on #146
Duplicate of #40.

This should be fixed with the next release.

[2019-05-20 21:41] oliverschwendener commented on #83
Can anyone here tell me if one of these steps helps? https://windowsreport.com/desktop-icons-flashing/

[2019-05-23 16:33] natyusha opened #147 "ueli forcing its own color profile"
For people with custom display color profiles ueli will display all colors incorrectly due it to seemingly forcing its own color profile. The image below shows that the ueli window is not colored #171717 as it should be according to the css.

![sublime_text_2019-05-23_12-20-18](https://user-images.githubusercontent.com/985941/58269550-d1610780-7d55-11e9-8a2b-1a9d9fd04336.png)

I was able to work a

[2019-05-24 03:42] 5paceToast commented on #83
This link does not describe the issue.
Consider, for instance, this quote:

No such thing is reported here.
The steps detailed verify against system corruption, blame the gpu (which is, somehow, doing its job just fine in other circumstances), blame the wallpaper (as you might imagine, changing it does not actually fix the issue), and finish by suggesting an *entirely unrelated* registry change.

[2019-05-25 23:28] giulianfazio opened #148 "Configurable Priority for bult-in features"
I really love the possibility to search for files and programs at once, but is sometime problematic.
For example:
- I search for "_chr_"
- I expect to find chrome
- Chrome is there but at 7th position
- The first 6 positions are occupied by spare files that happen to contain _chr_ inside their name

For me, in general, programs are more relevant than spare files and I would like to configure the p

[2019-06-03 08:46] pickbreaker opened #150 "Ueli is fullscreen"
After the update to Version 7.2.6 ueli is now displaying fullscreen instead of the normal centered search.

[2019-06-03 18:27] oliverschwendener commented on #150
I'm on it! Thanks for the feedback!

[2019-06-03 18:34] #150 closed

[2019-06-03 18:42] oliverschwendener commented on #150
I just re-released v7.2.6. Can you check if it works properly now? Cheers

[2019-06-03 19:28] pickbreaker commented on #150
Yes, works fine. Thanks for your work.

[2019-06-03 20:22] TimB87 opened #151 "chocolatey doesn't support revisions of the same version"
Hi Oliver,
FYI: I've updated today when you first pushed the new version as a release. Now you seem to have  pushed another release with the same version number, therefor the sha256sum changed.
Choco doesn't support revisions of the same port, so I had to call it version 7.2.6.1. Will push in the next minute or so..
Please don't do that stuff in the future, rather bump it up a version. Thanks a lo

[2019-06-03 20:49] oliverschwendener commented on #151
Ok I see. Next time I'll just make another release, my bad.

[2019-06-03 20:49] #151 closed

[2019-06-05 03:39] PaoneGit commented on #92
![image](https://user-images.githubusercontent.com/31804968/58928777-8beb0400-8771-11e9-9c09-fbc44b242ef6.png)

[2019-06-05 03:40] PaoneGit commented on #92
i am facing this error on every startup if my system. what could be the error

[2019-06-05 04:04] PaoneGit opened #152 "Error with ueli on opening - JS errors"
![image](https://user-images.githubusercontent.com/31804968/58929555-23058b00-8775-11e9-8d37-00dce73f1375.png)

[2019-06-05 12:00] oliverschwendener commented on #152
Where did you install the app? And can you provide us the content of your config file (`~/.ueli/ueli.config.json`)?

[2019-06-06 20:49] oliverschwendener commented on #148
This seems like a good idea! I'm thinking of adding this to the next release. Thanks for your feedback!

In the meantime you could adjust the search engine treshold in the settings. Try decreasing the value. The lower this number the more precise has to be your search term. Maybe this helps?

[2019-06-10 09:33] Tobirexy opened #153 "Convert Unix path (slashes) to Windows path (backslashes)"
I prefer UNIX style paths (e.g. /example/test) instead of Windows style paths (e.g. \example\test). I can type forward slashes a lot faster than backslashes. Most programs support both options nowadays. It would be awesome if you could add an option to convert slashes to backslashes when typing file paths.

![image](https://user-images.githubusercontent.com/6097749/59185810-ab1ed280-8b71-11e9-825f

[2019-06-19 17:00] oliverschwendener commented on #136
Closing due to inactivity.

[2019-06-19 17:00] #136 closed

[2019-06-21 18:09] seba5496 opened #154 "Crashes on opening"
![Anotación 2019-06-21 140830](https://user-images.githubusercontent.com/47981550/59942595-1f892980-942e-11e9-80b1-3d15b55e2091.png)
I keep having this issue, no clue why.
Please help me :(

[2019-06-22 06:22] oliverschwendener commented on #154
Did you modify the settings? If so, can you provide me the content of your settings file (`~/.ueli/ueli.config.json`)?

[2019-06-22 12:24] Din0Git opened #155 "decimal seperator change"
Hi,

Is there a way to change the decimal separator from decimal point to decimal comma for the calculations?

[2019-06-23 10:31] waqashsn commented on #93
So has this been added in the currently available build? I looked for it but didn't find any option related to Everything search in Settings.

[2019-06-24 06:06] oliverschwendener commented on #155
See #49

[2019-06-24 06:06] #155 closed

[2019-06-24 09:26] oliverschwendener commented on #93
@waqashsn No not yet. This will be added in the next major update 8.0.0 which will be released in the next few weeks (I hope :P)

[2019-06-24 13:02] Mahesh-Ironcoder opened #156 "I get this error every time the app starts up. So,I have to restart the app though sometimes while I search I get the same error"
![ueli_32Of9lsBnT](https://user-images.githubusercontent.com/51284518/60020695-2a51f180-96ae-11e9-96e6-02556e612a9d.png)

[2019-06-24 13:03] Mahesh-Ironcoder commented on #156
please tell me what does it mean?

[2019-06-24 13:58] oliverschwendener commented on #156
Did you change the config? If so can you provide the content of your config file (`~/.ueli/ueli.config.json`)?

[2019-06-24 15:03] oliverschwendener commented on #154
Probably related to #152

[2019-06-25 21:40] llkiriell commented on #142
I really like the program, but would love to have it in spanish, and there are only options in english and danish. Is there a file to translate the options, menus, etc?
At least that way could customize my version.

[2019-06-26 03:50] TobiasDev commented on #142
I noticed yesterday that "Restart" and "Lock" both works as shutdown. So it seems there is a bug. :)

[2019-06-26 06:26] oliverschwendener commented on #142
@TobiasDev ooops, thanks!

[2019-06-26 08:54] #156 closed

[2019-06-26 09:06] oliverschwendener commented on #156
New version with bugfix released: https://github.com/oliverschwendener/ueli/releases/tag/v7.2.7

[2019-06-27 09:00] dcraig-sage opened #157 "Question regarding mac lock functionality"
Hi, I have recently switched from Alfred to Ueli, one thing that irks me slightly is the difference in the lock command as this is something I use quite a lot.

with alfred lock takes me to a screen with my user avatar and I can unlock from that screen immediately using my fingerprint (or click and type my password if I wanted to).

with ueli I have to type in my username and my password again, it

[2019-06-27 09:31] oliverschwendener commented on #157
I know what you mean. Ueli uses commandline tools to lock your computer. The only way I could get it to work is with this script:

[code]

If you could find out how to lock your mac from the commandline to "proper" I would be happy to know :)

[2019-06-27 11:44] oliverschwendener commented on #157
Ok I probably found the solution with this script:

[code]

You can try it by pasting this command into Terminal. Is this what you are hoping for?

[2019-06-27 13:28] dcraig-sage commented on #157
Closest I can find after a quick search is

pmset displaysleepnow

seems to do roughly equivalent, however this requires keyboard/mouse interaction to unsleep before seeing the user screen again - I think that personally I would still prefer this than having to type out my username again.

[2019-06-27 13:29] dcraig-sage commented on #157
I just saw your message after I had posted mine, yes the command you linked seems perfect, exactly as it works in alfred :)

[2019-06-27 16:47] oliverschwendener commented on #157
This fix will be included in the next major release.

[2019-06-27 17:25] oliverschwendener commented on #153
A fix for this will be included in the next major release.

[2019-06-27 17:55] Tobirexy commented on #153
Awesome 👍 Thanks a lot!

[2019-06-29 01:13] SpectralKH opened #158 "Crashes when pressing alt+space in hotkey setting"
When you  go into ueli's settings and press alt+space inside the hot key text field, the app will crash. Relaunching the app seems to work a couple times, but eventually it doesn't work at all (menu bar icon shows up, but it's grayed out indefinitely). Had to close euli's processes through Activity Monitor.

Before pressing alt+space, I had deleted the text in the hot key text field so it was empt

[2019-06-29 01:16] SpectralKH commented on #158
Off-topic question: How does euli manage to not have it's menu bar show up (e.g when you're in Chrome and open euli, the menu bar is still Chrome's)? Couldn't figure out how by looking at the source code.

[2019-06-29 18:29] nisar22 commented on #158
Same for me, How do I change the hotkey since my UELI is not opening. Can someone direct me coz I dont know much of coding n all

[2019-06-30 10:05] oliverschwendener commented on #158
First of all: if you want to change the global hotkey in the settings you cannot press the hotkey while being inside the text field. You have to type in the hot key by yourself. Possible hotkeys are documented here: https://github.com/oliverschwendener/ueli#options

### How to reset the global hotkey
#### If you want to preserve your config:

* Open `~/.ueli/ueli.config.json` with a text editor
*

[2019-06-30 14:05] SpectralKH commented on #158
@oliverschwendener Realized that, but maybe it shouldn't brick the app if you do try pressing the hotkey you want it changed to

[2019-07-01 06:11] oliverschwendener commented on #158
@SpectralKH Yes you are right. This will be fixed in the next major release.

[2019-07-01 06:11] #158 closed

[2019-07-09 09:03] neojp commented on #142
Looks really nice! Thank you for having a window for the settings panel. Here is some feedback:

**Hot Key**
I always use `CTRL + Shift + Space` for these kind of apps, because the new setting is a drop-down with predefined options I can't use this combination anymore. Also no need to show Cmd and Option on Windows.

**Option to force re-scan from tray icon**
I miss this option from Launchy.

**Bu

[2019-07-09 12:08] oliverschwendener commented on #142
@neojp Thanks for your extensive feedback, I really appreciate it! I'll make separate issues for each of the suggestions you made, so others can bring in their ideas and I can better keep track of the stuff that has to be done.

[2019-07-09 12:23] oliverschwendener opened #159 "Option to force re-scan from tray icon"
Original feature request from @neojp

[2019-07-09 12:23] oliverschwendener opened #160 "Buggy fade in animation when opening"
Original feedback from @neojp

[2019-07-09 12:24] oliverschwendener opened #161 "Change toggle icon for plugins"
Original feedback from @neojp

[2019-07-09 12:24] oliverschwendener opened #162 "Bing as an additional web search engine"
Original feedback from @neojp

URL: https://www.bing.com/search?q={{query}}
Logo: https://cdn.svgporn.com/logos/bing.svg

[2019-07-09 12:25] oliverschwendener opened #163 "Don't close on blur option"
Original feedback from @neojp

[2019-07-15 12:18] Tobirexy commented on #83
Same problem here. I can confirm the Application Search plugin causes the observed flashing.
Happens also with version 8.0 Beta. I'm on Windows 10 1903.

[2019-07-16 20:22] mrmlnc commented on #142
Would be cool to support Windows applications (Store, Terminal, Mail, …):

[code]

[2019-07-16 21:56] oliverschwendener commented on #142
@mrmlnc Please open up a separate issue for this, thanks :)

[2019-07-23 16:45] kensoldink commented on #142
Loving this dev version! FYI I've downloaded and built the most recent `dev` branch.

One thing: I've been trying to change the Hot Key to Caps Lock + Space, but can't seem to get anything to take. Specifying `CapsLock` doesn't change anything, and ueli still responds to `Alt  + Space`

[code]

[2019-07-23 20:37] oliverschwendener commented on #142
@kensoldink Nice to hear! :) Did you just modify the JSON file? Or did you change the settings from the GUI?

[2019-07-23 20:40] oliverschwendener commented on #142
@kensoldink As I noticed [here](https://electronjs.org/docs/api/accelerator#available-modifiers): Capslock+Space is not possible

[2019-07-23 22:36] kensoldink commented on #142
@oliverschwendener Yeah, I noticed Capslock wasn't accessible via the GUI, so I tried directly modifying the config JSON. Makes complete sense why `Capslock + Space` won't work since `Capslock` isn't a modifier. Changed it to `Ctrl + Space` and things are great.

Been loving the dev version by the way; the shortcuts and workflows are a gamechanger for me as I have fairly predictable activities in

[2019-07-30 11:09] chrkoe opened #164 "[Question] Silent parameter for installation?"
Hi @oliverschwendener ,

I like your software and would like to add it to our software deployment tool.
Is there any silent parameter for the installer to handle the desktop shortcut? On default the shortcut will be created. I don't want to create the shortcut per default.

greetz
chrkoe

[2019-07-31 20:51] kovalroma commented on #83
Hello, the same problem in my laptop.
https://youtu.be/WVtZtzyoZr0?t=8
https://youtu.be/WVtZtzyoZr0?t=68
https://youtu.be/WVtZtzyoZr0?t=128

[2019-08-07 19:44] darshitv98 opened #165 "can u make a 32 bit version"
i use 32 bit system and i am unable to install it

[2019-08-08 01:57] jcklpe commented on #94
I know this is a big ask but this feature would be great to have. Is there anyway that I could help out with this? I'm not a very good developer but I like fiddling around with my home linux machine. Is it simply a matter of setting up Electron to make a Linux build? Or do other things need to be changed?

[2019-08-08 08:13] oliverschwendener commented on #94
I would suggest that you first try to get the app running on a linux machine:

1. Clone the repo
2. Install node 12 and yarn
3. Install the dependencies with `yarn install`
4. Start the watcher (transpiling TS to JS files) with `yarn bundle:watch`
5. Start the app with `yarn start`

Probably it won't work out of the box because it only checks if the app is running on Windows and if not it assumes

[2019-08-08 14:54] oliverschwendener commented on #164
You can either download the ZIP version from the [releases page](https://github.com/oliverschwendener/ueli/releases) and unpack it to your desired install location. Or if you have to stick to the installer try this: http://www.silentinstall.org/nsis. Maybe this works?

[2019-08-08 18:25] jcklpe commented on #94
@oliverschwendener Awesome, I'll try to build and install it and I'll report back.

Even if the functionality is limited in those ways you mention I'd still like to use it instead of Albert because I like having a consistent user experience between my OS and because I think your app looks nice and is easier to configure the way I like.

I honestly mostly just use it to launch short cuts, do web se

[2019-08-09 06:28] oliverschwendener commented on #137
Closing this because the original issue has been resolved.

[2019-08-09 06:28] #137 closed

[2019-08-10 20:08] oliverschwendener commented on #94
@jcklpe Make sure to checkout the `dev` branch

[2019-08-11 08:48] oliverschwendener commented on #165
A 32bit build will be included in the next release.

[2019-08-11 09:03] Keagel opened #166 "Command to put computer to sleep?"
I have noticed there are commands to Shutdown, Lock, Sign out, Restart but not to put the computer to sleep/hibernate. Could you implement that?

Thanks!

[2019-08-11 10:09] oliverschwendener commented on #166
This will be included in the next release.

[2019-08-12 14:26] SAIMANOHAR-CH commented on #152
Even I am getting the same error. I really love this application. Kindly help me fixing it. Thank you

[2019-08-12 14:28] oliverschwendener commented on #152
@SAIMANOHAR-CH  Same question:

[2019-08-12 15:40] SAIMANOHAR-CH commented on #152
C:\Users\Dell\.ueli/ueli.config.json

[2019-08-13 12:45] oliverschwendener commented on #152
@SAIMANOHAR-CH I need the **content** of the file not the location.

[2019-08-13 13:15] SAIMANOHAR-CH commented on #152
Well, what do you mean by the **content**?

[2019-08-13 13:17] oliverschwendener commented on #152
Open `C:\Users\Dell.ueli/ueli.config.json` with a text editor, copy all text and paste it here.

[2019-08-13 13:23] SAIMANOHAR-CH commented on #152
{
  "allowMouseInteraction": true,
  "alwaysShowOnPrimaryDisplay": false,
  "applicationFileExtensions": [
    ".lnk",
    ".appref-ms",
    ".url",
    ".exe"
  ],
  "applicationFolders": [
    "C:\\ProgramData\\Microsoft\\Windows\\Start Menu\\Programs",
    "C:\\Users\\Dell\\AppData\\Roaming\\Microsoft\\Windows\\Start Menu",
    "C:\\Users\\Dell\\Desktop",
    ""
  ],
  "autoStartApp": true,
  "

[2019-08-13 13:27] oliverschwendener commented on #152
@SAIMANOHAR-CH What happens if you replace the existing content of your config file with this:

[code]

[2019-08-13 21:08] #122 closed

[2019-08-13 21:40] oliverschwendener commented on #81
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:40] #81 closed

[2019-08-13 21:41] oliverschwendener commented on #93
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:41] #93 closed

[2019-08-13 21:41] oliverschwendener commented on #117
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:41] #117 closed

[2019-08-13 21:41] oliverschwendener commented on #123
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:41] #123 closed

[2019-08-13 21:42] oliverschwendener commented on #124
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:42] #124 closed

[2019-08-13 21:42] oliverschwendener commented on #153
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:42] #153 closed

[2019-08-13 21:42] oliverschwendener commented on #157
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:42] #157 closed

[2019-08-13 21:42] oliverschwendener commented on #159
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:42] #159 closed

[2019-08-13 21:42] oliverschwendener commented on #163
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:42] #163 closed

[2019-08-13 21:42] oliverschwendener commented on #165
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:42] #165 closed

[2019-08-13 21:43] oliverschwendener commented on #166
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:43] #166 closed

[2019-08-13 21:43] oliverschwendener commented on #146
This is included in the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:43] #146 closed

[2019-08-13 21:44] oliverschwendener commented on #142
Version [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) is now released.

[2019-08-13 21:44] #142 closed

[2019-08-13 21:45] oliverschwendener commented on #103
@thatKaran Can you check if this issue still occurs with the newest version [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0)?

[2019-08-13 21:46] oliverschwendener commented on #152
Please check if this issue still occurs with the newest [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release.

[2019-08-13 21:47] oliverschwendener commented on #154
Closing this as a duplicate of #152.

[2019-08-13 21:47] #154 closed

[2019-08-13 21:49] oliverschwendener commented on #125
This should be fixed with the newset [v8.0.0](https://github.com/oliverschwendener/ueli/releases/v8.0.0) release. Please reopen this issue if this is not the case.

[2019-08-13 21:49] #125 closed

[2019-08-13 22:00] oliverschwendener commented on #96
In my opinion implementing a plugin manager is too overkill **for now** and will complicate stuff too much. If someone wants to implement a new plugin/feature it can be integrated directly to the app by making a pull request. Closing this for now until I really see the need for plugin system or someone else wants to implement this.

[2019-08-13 23:10] darshitv98 commented on #165
Thank you so much

On Wed, Aug 14, 2019, 3:12 AM Oliver Schwendener <notifications@github.com>
wrote:

[2019-08-14 01:51] SAIMANOHAR-CH commented on #152
I still get the same error if I replace with that. :(

[2019-08-14 02:04] SAIMANOHAR-CH commented on #152
I'm not getting any errors with the new version and everything looks fine now. Thank you so much for helping out.

[2019-08-14 02:33] SAIMANOHAR-CH commented on #152
![Screenshot (20)](https://user-images.githubusercontent.com/54031783/62990444-a58f8280-be69-11e9-8e4f-69b4a8f2ec91.png)

Error again :( just using the app and this error mentioned above starts popping up again and again. Kindly help me.

[2019-08-14 03:22] bingcheng45 commented on #152
I am having the same issue here on a newly bought Microsoft Surface Pro 6.
error occurs when i add a new path or remove a path.
search feature thus not able to search the contents of the path
![image](https://user-images.githubusercontent.com/12640713/62992370-bfd75980-be85-11e9-8ee2-279c5303bab6.png)

[2019-08-14 06:37] oliverschwendener commented on #152
Does [this](https://github.com/oliverschwendener/ueli/issues/92#issuecomment-455639302) help?

[2019-08-14 06:48] xXKeyleXx opened #167 "Custom search engine icon too big"
When I set a custom SVG for a websearch engine and the icon is bigger than the expected size, the icon will be as big as it is defined in the svg options.

![npm](https://user-images.githubusercontent.com/631504/62999803-ceb31180-be6f-11e9-83aa-6f141a2d072a.png)

[ueli.config.json.zip](https://github.com/oliverschwendener/ueli/files/3500141/ueli.config.json.zip)

[2019-08-14 07:40] #167 closed

[2019-08-14 09:00] oliverschwendener commented on #167
Thanks for the feedback! This is fixed in [v8.0.1](https://github.com/oliverschwendener/ueli/releases/v8.0.1)

[2019-08-14 11:14] bingcheng45 commented on #152
I have added C:\Windows\System32\WindowsPowerShell\v1.0 to my environment which did not solve the issue.
I was quite confused with wad he said about this

Hope this is what he meant but unfortunately did not solve the issue
![image](https://user-images.githubusercontent.com/12640713/63016995-a8b95b80-bec7-11e9-91fa-b54dce400da1.png)

[2019-08-14 12:06] krizajb opened #168 "Windows 10 operating system setting - night light"
The "Night light" system setting isn't found in the list.
![image](https://user-images.githubusercontent.com/496094/63019825-c0c7b580-be9c-11e9-8416-5277f182cf09.png)

[2019-08-15 08:36] oliverschwendener commented on #135
Can you check if this still occurs in the newest [release](https://github.com/oliverschwendener/ueli/releases)?

[2019-08-15 15:46] chrisonline commented on #135
Yes of course. I have just updated it and will try it tomorrow.
Will let you know.

[2019-08-15 20:21] oliverschwendener commented on #152
![image](https://user-images.githubusercontent.com/15727229/63124159-f0fd7a00-bfaa-11e9-9165-452e04a9f508.png)

[2019-08-15 20:26] oliverschwendener commented on #152
Closing this now because the original issue was resolved. If you still have issues with powershell open #92 up again.

[2019-08-15 20:26] #152 closed

[2019-08-16 12:03] chrisonline commented on #135
Sadly it is not solved.
But could this problem be because I have at home 2 monitors and in the office only 1?

I have now enable the setting "Show always on Primary".
I will report back on monday if the problem is still there with this setting.

[2019-08-17 10:37] enoversum commented on #122
Thanks for adding this! Works as it should :) .
Could you let ueli remember its position across bootups? It just happens to reset after a restart, and I believe eben after a wakeup from sleep mode.

[2019-08-17 11:47] krizajb opened #169 "On ueli show random flicker/flash of the launcher"
On ueli show it looks like the launcher is being opened twice. Same happened on the previous version, updated it and the issue persisted. The issue can be reproduced by hotkeys or manually via system tray (show button).
This does not happen on every show.

[2019-08-17 12:58] krizajb commented on #122
How exactly does one move the ueli launcher?

[2019-08-17 18:46] krizajb opened #170 "Multiple keys for hotKey combination"
If I understand correctly there is no possibility to use multiple keys for hotKey combination such as Shift+AltGr+Space as it was in the past? Could we make that possible again?

[2019-08-18 09:48] bingcheng45 commented on #152
adding it to system path and restarted my pc, the search bar still could not find my downloaded apps like google chrome, i don't think it fixes anything, the javascript error still occur when i try to change the Ueli settings

[2019-08-18 15:42] krizajb commented on #169
Sorry, didn't see this bug was already reported [issue-160](https://github.com/oliverschwendener/ueli/issues/160). Closing the issue.

[2019-08-18 15:42] #169 closed

[2019-08-18 19:39] Kaedin opened #171 ""spawn powershell.exe ENOENT" error when triggering 'Refresh indexes'"
Hi Dev,

A few days after installating ueli 8.0.1, I've started to get following error on Windows 10 Enterprise 1903 build 18362.295:

![image](https://user-images.githubusercontent.com/26382655/63229330-03c0ba80-c208-11e9-85ab-7076c2cf538c.png)

I was able to figure out that this error occurs when 'Refresh indexes' is triggered manually via notification tray icon or whenever the refresh is trigge

[2019-08-19 06:03] pickbreaker opened #172 "Everything Path should be escaped properly"
If the ES path contains spaces. The ES command is cant be executed. Maybe you should check if the path is properly escaped. Thanks for your ongoing work btw.

[2019-08-19 06:06] pickbreaker opened #173 "Simple Folder Search Switchup"
In the new settings at Simple Folder Search in the table "exclude hidden files" and "recursive file scan" need to be switched. They contradict the corrsponding input form and the config file.

[2019-08-19 06:09] oliverschwendener commented on #173
Ooops. Thanks for your feedback! :)

[2019-08-19 08:36] Keagel opened #174 "Add a shortcut to open the folder of a search result when using Everything?"
For example, "Enter" on the file opens it, Ctrl + Enter opens its folder.

[2019-08-19 08:38] Keagel opened #175 "Encoding problems with Everything search results"
![This is the result with accents](https://user-images.githubusercontent.com/18720666/63251160-731cc580-c26d-11e9-8258-bc2c6986c34d.png)

[2019-08-19 10:25] matthacksteiner opened #176 "[Feature Request] Browse folders with arrow keys"
It would great to use the arrow keys to move around the folder structure.

[2019-08-19 12:26] chrisonline commented on #135
Just tested it again.
Does not work :-(

I see for a millisecond the window and afterwards it disappears.
Now if I hit the Key I don't see it again until I restart Ueli.

[2019-08-19 21:06] oliverschwendener commented on #174
Try `Ctrl+o` on Windows or `Cmd+o` on macOS

[2019-08-19 21:06] #174 closed

[2019-08-19 21:12] #133 closed

[2019-08-19 21:12] #147 closed

[2019-08-19 21:12] #162 closed

[2019-08-19 21:12] #173 closed

[2019-08-19 21:26] oliverschwendener commented on #172
Thanks for your feedback! I added a fix which will be included in the next release.

[2019-08-19 21:37] oliverschwendener commented on #133
New feature now available in the [newest](https://github.com/oliverschwendener/ueli/releases/tag/v8.1.0) release.

[2019-08-19 23:07] jcklpe commented on #133
@oliverschwendener woo thank you!!! ❤

[2019-08-20 03:38] Chengers commented on #172
Hello Oliver, I wanted to bring to your attention that by putting double quotes around you've made it so that it literally executes the program making any search term an invalid argument which prompts the console help screen for "everything".

`const command = `"${everythingSearchOptions.pathToEs}" -max-results ${everythingSearchOptions.maxSearchResults} ${searchTerm}`;`

In this case I think ever

[2019-08-20 05:08] Kaedin commented on #171
@oliverschwendener I confirm this issue to be fixed after updating. Thank you for fast actions! :)

[2019-08-20 05:16] sir-harlekin commented on #172
A question about everything integration. Is it possible to use UELI portable with Everything portable? I dont have admin rights on my office machine.

Kind regards

[2019-08-20 05:23] Chengers commented on #172
Yes you can, just tried that on my standard user account.

[2019-08-20 05:32] sir-harlekin commented on #172
Thanks. To be honest, i was to stupid to notice, that many plugins must be activated at first.

[2019-08-20 05:57] #171 closed

[2019-08-20 10:52] floele-sp opened #177 "Error when adding additional folder to "application folders""
The following error is displayed when adding a folder to the application folder (Settings --> Application Search --> Add application folder):

{ "code": "EPERM", "errno": -4048, "level": "error", "path": "C:\\Sandbox\\Trunk\\System Volume Information", "service": "user-service", "syscall": "lstat", "timestamp": "2019-08-20T10:46:03.441Z" }

I installed Ueli for the first time on Windows 10 Build 1

[2019-08-20 14:12] krizajb commented on #122
Can confirm that the position isn't saved on application restart.

[2019-08-21 12:52] dannyqwertz commented on #170
Is it possible to also allow free assignment of hotkeys (like e.g. Alt-X) again?

It would be awesome when letting the user record the hotkey (instead of using a dropdown menu) and checking the possibility to register this hotkey with a possible error message if this is limited within electron or the respective operating system.

[2019-08-22 02:43] Zangoran commented on #37
I am having this issue still. Is there any way that you guys can hardcode the app to not move? I need to have to the custom scaling to actually see my laptop screen and not to have it super big.

[2019-08-24 06:49] pickbreaker commented on #177
I've got similar issues on directories where the user has insufficient rights. Ueli will stop indexing if a single subfolder or file is inaccessible.

[2019-08-26 07:37] TheStruggleForAntiSpaghetti opened #178 "Protocols other than http are not possible in "Web Search""
In another application, I now have setup searching a query in the Deezer app by using:
deezer://www.deezer.com/search/{query}

When trying to configure this url in ueli, I get the error:
"Invalid web search engine"

I'd like for this to be possible.

[2019-08-26 07:50] oliverschwendener commented on #178
Thanks for your feedback! I'll look into this.

[2019-08-26 09:24] Spiegel-Leser opened #179 "Windows .zip portable version has no settings and shows errors on access"
I tried Ueli the first time today with the .zip portable version, 8.1.0., on Win 7 x64. It starts and functions correctly. On entering "setting", it offers "Ueli settings" -> no reaction, and "edit Ueli settings" -> error message. Is this the desired behaviour? Can I edit Web search engines only in the installed version? Or is it a bug?

[2019-08-26 10:13] oliverschwendener commented on #179
This is not intended behaviour. I'll look into this as soon as possible! Thanks for your feedback!

[2019-08-27 08:13] ChitDaBoss opened #181 "I cant set up the es.exe as when i do it doesnt work and there is no help anywhere else....pls help:("
i set it up to the es application in my c drive....users.....chitr.... .ueli.....es.exe and it wont work:(

[2019-08-27 08:15] oliverschwendener commented on #181
Is there something in the debug log?

Open settings -> General -> Open debug log

![image](https://user-images.githubusercontent.com/15727229/63753570-9968e380-c8b3-11e9-86c6-0c51d0d3bd75.png)

[2019-08-27 08:18] ChitDaBoss commented on #181
oh wait i just figured it out....i forgot to put the es? before searching.....sorry for bothering you :(

[2019-08-27 08:18] #181 closed

[2019-08-28 07:55] oliverschwendener opened #182 "Bug: focus not returned on Windows"
Original report from @sgruetter:

Reproduce the error:

- Focus on a text editor and type something.
- Open ueli with the configured shortcut, and do something (e.g. 2+2).
- Close ueli by hitting Esc.

**Expected:** the text editor has focus restored and the user would without further interaction being able to continue typing.

~~**Actual** (on macOS): the text editor window is active, but has no

[2019-08-28 18:16] Wirsing84 commented on #86
I installed ueli a few hours ago and I'm in love (coming from Alfred on Mac). See, I ended up in this thread within my first day. PLEASE PLEASE PLEASE Oliver & Community see to this. It would make Ueli so much more useful! THANK YOU und dankeschön :)

[2019-08-28 18:50] sgruetter commented on #83
@oliverschwendener This issue also affects the general system performance. My entire machine (MBP 2015) hangs for a few seconds every few minutes, and I only now found out that ueli causes this issue. Even the mouse cursor feels like glued to the screen, thus it's really annoying.

Some console-logging turned out that `ApplicationSearchPlugin`'s `refeshIndex()` leads—at least on my system—to at le

[2019-08-28 19:43] AquilaRapax commented on #177
Same here, but with errno : -4058

[2019-08-29 08:19] atresnjo opened #184 "Everything search doesn't find any results"
My attempt:
![grafik](https://user-images.githubusercontent.com/41112852/63922810-b0d7d600-ca45-11e9-9369-68b362086262.png)

Settings:
![grafik](https://user-images.githubusercontent.com/41112852/63922930-ed0b3680-ca45-11e9-8b6d-6cd92b47355d.png)

Using es.exe from cli:
![grafik](https://user-images.githubusercontent.com/41112852/63923019-14fa9a00-ca46-11e9-965a-f06d94ea10f8.png)

[2019-08-29 09:19] oliverschwendener commented on #184
You have to activate the plugin on the top right.

![image](https://user-images.githubusercontent.com/15727229/63927888-e1703d80-ca4e-11e9-958a-9da7d5d80e83.png)

[2019-08-29 09:19] #184 closed

[2019-08-29 09:27] atresnjo commented on #184
Jesus. I am sorry for missing the obvious, thank you for the great tool!

[2019-08-30 03:43] sgruetter commented on #86
So this is Windows only? Because on Mac it works as expected (and I'm now too lazy to switch to Windows to test...).

[2019-08-30 04:04] sgruetter opened #185 "Search Window Closes Only After Delay"
When opening an application, I type the name, see quickly the correct search result, and then hit Enter.

Now

- the search field gets emptied and, after probably 500 ms,
- the search window gets hidden.

This delay until the the search disappears is a bit annoying. I know, not really a big issue 😄

See in the video: when "sla" disappears, I just hit Enter. A bit later, the entire window gets hidd

[2019-08-30 14:11] oliverschwendener opened #186 "macOS Mojave: white border on the top"
On macOS 10.14 Mojave the main window shows a white border on the top (dark mode activated).

![image](https://user-images.githubusercontent.com/15727229/64027253-9f272900-cb40-11e9-9f45-6467e4400524.png)

[2019-09-01 00:38] Zangoran commented on #37
@oliverschwendener Any thoughts on my last comment?

[2019-09-01 21:22] oliverschwendener commented on #86
@sgruetter It depends on the program itself. Google Chrome for example will open up a new window. Adobe Photoshop on the other hand will focus on the window if it exists.

[2019-09-02 06:23] TobiasDev opened #187 "Feature request: Add local images rather than SVG or color for "Shortcuts""
I love setting up my own shortcuts in Ueli for different Websites I want to quickly reach, or software. However, I would like to add my own PNG image rather than a SVG file (since I can't always get a hold of those). Is that something that could be added? So I could add a local image rather than a SVG, URL or Color?

[2019-09-02 21:08] oliverschwendener commented on #179
@Spiegel-Leser Could not reproduce your issue. Can you tell me where did you unpack the zip? Maybe in a folder where the app does not have enough access rights?

[2019-09-03 21:09] #172 closed

[2019-09-03 21:10] #160 closed

[2019-09-03 21:10] #186 closed

[2019-09-04 03:43] moses-bowman opened #188 "Removing Web Search Prefixes Disables Other Plugins"
Since the 8.0.0 release, removing `Fallback Web search` _Prefixes_ 'bricks' other plugins such as `Calculator`, `Commandline`, `Currency Converter`, `Email`, and `URL` (at least from my end as these are the only ones I have enabled apart from `Web search`).

![image](https://user-images.githubusercontent.com/40249465/64224176-255cba00-cf09-11e9-9a06-33361de64abf.png)

![image](https://user-images.

[2019-09-04 06:51] oliverschwendener commented on #188
You didn't specify a prefix for the web search engines. This is why they always show up.

[2019-09-04 08:03] krizajb commented on #160
If I understand correctly this is only fixed if the `Allow transparent background (Restart required)
` option is disabled?

[2019-09-04 08:34] moses-bowman commented on #188
Below are some screenshots of version 7.2.5
As seen on the second pic, no _Prefixes_ were specified, but they work well as `Fallback` searches along with other plugins.

![image](https://user-images.githubusercontent.com/40249465/64238481-14c03a00-cf31-11e9-920d-8d90f1664286.png)

![image](https://user-images.githubusercontent.com/40249465/64238716-84362980-cf31-11e9-95e8-924038483ac0.png)

![imag

[2019-09-05 07:12] oliverschwendener commented on #188
Yes I see that this worked in the old version. But in 8.x.x you have to specify a prefix for a web search engine (otherwise it will always show up). If you enable the `Fallback` option then the web search engine will show up if there are no other search results found.

[2019-09-06 08:32] GitBiker opened #189 "Shortcut to server folder cannot be created"
ueli version 8.1.1

settings
shortcuts
add shortcut
filetype "File path"
edit file path: "Choose folder" now navigate to \\server\folder1
save
-> invalid shortcut

[2019-09-06 12:27] oliverschwendener commented on #160
@krizajb Correct.

[2019-09-11 20:48] Keagel commented on #111
An ETA on this?

[2019-09-12 09:31] LalaGhost opened #190 "Convert temperature"
It would be nice to convert from Fahrenheit to Celsius and vice versa.
The question is how you want to do it:
Option 1: "40°F to C°"
Option 2: "40F to C"
Note the degree symbol.
Maybe both?

[2019-09-13 18:54] oliverschwendener commented on #37
@Zangoran I'm sorry, at the moment there is nothing I can do because this is a bug in electron/chromium.

[2019-09-13 19:00] oliverschwendener commented on #103
Closing this issue now because it seems to be fixed.

[2019-09-13 19:00] #103 closed

[2019-09-13 19:11] oliverschwendener commented on #83
@sgruetter I replaced all `forEach`'s with conventional `for` loops and performance wasn't noticeably better.

Maybe the solution here would be to use `powershell` on Windows and `mdfind` on macOS to get a list of all installed programs. I'm looking into this!

[2019-09-13 19:20] Zangoran commented on #37
@oliverschwendener This might be a stretch, but is there a way where you can add an option to hardcode the x and y value as a setting so it can't move?

[2019-09-14 14:23] maku commented on #166
@oliverschwendener Is there also a command for "hibernation" (Ruhezustand)

[2019-09-16 12:25] oliverschwendener commented on #166
@maku Not at the moment => Create new issue for this please.

[2019-09-16 14:54] maku opened #191 "Command for "hibernation""
It would be really great if there was a command for hibernation...
Could you implement that?

[2019-09-16 15:46] #191 closed

[2019-09-16 21:46] oliverschwendener commented on #83
Can someone check if this issue still occurs with the [newest release](https://github.com/oliverschwendener/ueli/releases)? Ueli now uses the os's build in tools to search for installed applications.

[2019-09-17 00:30] 5paceToast commented on #83
@olivereisenhut This is solved for me.
I noticed another change - at the time when icons would normally blink, instead the application gets a kind of "loading" animation (and the search bar proper has "Refreshing indexes..." written on it.
This "loading" takes a bit longer than the old blinking, but is far preferable!
Thanks (at least it's solved for me :) )!

[2019-09-17 04:57] TobiasDev opened #192 "Simple folder search seems to not be working in 8.1.2"
I updated this morning to the latest version of UELI and in this version I can't see any folders when I type the name of them (same name that I used to type to find them). I tried re-starting the plugin but it didn't help.

[2019-09-17 05:35] Tobirexy opened #193 "Windows Defender blocks Ueli installation"
I don't know what's causing this and if anything can be done about it but I thought I'll let you know that Windows Defender blocks the start of the Ueli.exe.

It is possible to ignore this warning and run it anyway but I think this message will particularly scare off new users.
![image](https://user-images.githubusercontent.com/6097749/65013731-81b5d580-d91c-11e9-96f2-ba32959dca9c.png)

![image](h

[2019-09-17 07:49] oliverschwendener commented on #193
Thank you for your feedback! I am aware of this and this is documented in the [installation](https://github.com/oliverschwendener/ueli#installation) section of the readme. Both Windows and macOS prevent the first execution of ueli because it is not [code signed](https://en.wikipedia.org/wiki/Code_signing).

Why is ueli not code signed? Code signing an application on Windows requires a paid certifi

[2019-09-17 07:49] oliverschwendener commented on #192
Can you show me the simple folder search settings you've made in the settings window?

[2019-09-17 07:51] oliverschwendener commented on #83
@WonaBee or @Tobirexy Can you also check if this issue is resolved for you?

[2019-09-17 08:21] #193 closed

[2019-09-17 09:01] TobiasDev commented on #192
![image](https://user-images.githubusercontent.com/5912371/65027342-7671a280-d93a-11e9-8cec-ed79ddce1553.png)

[2019-09-17 09:05] Tobirexy commented on #83
@oliverschwendener Yep. It's fixed now.

[2019-09-17 16:02] oliverschwendener commented on #37
As I said this is a bug of electron/chromium. The window starts to move even if I hardcode the app not to move. Even Windows itself recommends not using custom scaling so I guess you have to find another solution because there is nothing I can do.

[2019-09-17 16:03] oliverschwendener commented on #192
Is there a hint in the debug log?

Here is how you open the debug log:

![image](https://user-images.githubusercontent.com/15727229/65058968-7347d800-d975-11e9-8226-7cb75743e8a8.png)

[2019-09-18 06:35] GitBiker opened #194 "Everything settings path does not work with whitespace"
Everything within ueli does not work if the path to es.exe contains a whitespace.

From the log:
2019-09-18T06:20:40.810Z error: Command failed: ""C:\Program Files\ES\es.exe"" -max-results 24 test
'""C:\Program' is not recognized as an internal or external command,
operable program or batch file.

[2019-09-18 06:45] oliverschwendener commented on #194
What version of ueli are you running?

[2019-09-18 06:53] GitBiker commented on #194
ueli 8.1.2

[2019-09-18 06:55] oliverschwendener commented on #194
We had a similar issue here: https://github.com/oliverschwendener/ueli/issues/172

I thought it was fixed, but apparently it is not. Will look into this asap.

[2019-09-18 06:55] oliverschwendener commented on #188
Closing this now because it is intended behavior.

[2019-09-18 06:55] #188 closed

[2019-09-18 06:57] oliverschwendener commented on #177
Is this still an issue in the [newset](https://github.com/oliverschwendener/ueli/releases/latest) version?

[2019-09-18 09:30] Maltbrew commented on #191
I don't have the Hibernation feature in 8.1.2 unfortunately.

[2019-09-18 10:59] maku commented on #191
@Maltbrew - hibernation works for me perfectly fine (win 10)

[2019-09-18 11:21] oliverschwendener commented on #191
@Maltbrew Are you on Windows? And which language did you select in ueli?

[2019-09-18 12:16] AquilaRapax commented on #177
No, at least I don't have this issue anymore.

[2019-09-18 19:39] Maltbrew commented on #191
I am yes, on Win 10. I selected English.

[2019-09-18 20:00] oliverschwendener commented on #191
Did you turn on the operating system commands plugin?

[2019-09-18 20:04] Maltbrew commented on #191
Aah! That's the ticket!

Thank you!

[2019-09-19 06:24] oliverschwendener commented on #83
Closing this now because it seems to be fixed. Thanks guys for your support!

[2019-09-19 06:24] #83 closed

[2019-09-19 06:40] WonaBee commented on #194
I had the exact same error in the debug log, I fixed it by choosing the es.exe once again (and not inputting the path directly) and clicking the save button.

I believe this had something to do with me importing the config from the previous version and it saving the quotes in the path.

[2019-09-19 07:25] GitBiker commented on #194
You're right. It has nothing to do with the whitespace.
The quotes in the path are not allowed (I read in some previous issue that quotes are required).
Selecting the path through the file dialog works.

[2019-09-19 07:25] #194 closed

[2019-09-19 15:06] gr0undhog opened #195 "Prevent window to hide after execution"
Hello together,

nice app!, very useful and of course my new <3 app! it makes things so simple!

is there a way to fix the app on windows desktop instead of closing it after pressing enter? its okay to loose focus and get back with Alt+Space.

thanks # #

[2019-09-19 15:29] oliverschwendener commented on #195
Open the settings (`Cmd+,` on macOS or `Ctrl+i` on Windows) and disable the option "Hide window when focus is lost" in the General settings:

![image](https://user-images.githubusercontent.com/15727229/65258356-0c582980-db03-11e9-9264-08c002ec4237.png)

[2019-09-19 15:58] gr0undhog commented on #195
Thanks oliver,

setting is disabled but unfortunately the search field hides anyway after pressing enter. is that a bug or am i doing something wrong?

so e.g. opening with shortcut, typing "chrome", pressing enter -> Searchfield hides (closes), Chrome starts

[2019-09-20 06:45] Spiegel-Leser commented on #179
My reply wasn't posted, for some reason. So, I also couldn't reproduce it. Please Close this. Thx.

[2019-09-20 06:52] #179 closed

[2019-09-20 06:55] Spiegel-Leser opened #196 "Add web search engine always invalid"
I'm not able to add a new search engine. The message is just "invalid", no explanation to what is the problem.

See screenshots
![Invalid](https://user-images.githubusercontent.com/31407409/65305842-60572280-db84-11e9-8add-c921c1847928.png)
![Invalid2](https://user-images.githubusercontent.com/31407409/65305843-60efb900-db84-11e9-988f-f1e51f53bc53.png)

Happens in Ueli 8.1.2 portable on Windows 7

[2019-09-20 06:57] oliverschwendener commented on #196
I see it's a little annoying that there is not a precise error message. I should look into this.

Anyway: you can remove all the double quotes and then it should work.

[2019-09-20 12:04] oliverschwendener commented on #195
Ok I see your problem now. You want the main window to stay openend after you execute stuff (open programs, etc.), is that correct?

[2019-09-20 12:05] gr0undhog commented on #195
correct

[2019-09-20 12:11] oliverschwendener commented on #195
Will look into this asap

[2019-09-20 12:12] gr0undhog commented on #195
yery cool, thanks so much

[2019-09-22 05:45] TobiasDev commented on #192
Will check, sorry for the late reply

[2019-09-22 05:47] TobiasDev commented on #192
I can't see anything about folders in the error log. The only error I see is this "2019-09-17T13:28:20.516Z error: stdout maxBuffer length exceeded", which I assume has nothing to do with folders?

[2019-09-22 17:08] oliverschwendener commented on #192
This is exactly the issue. I'm looking into it asap!

[2019-09-22 20:44] oliverschwendener commented on #192
Added a fix for this (included in the next release). The problem was that your file search tries to index alot of files (probably because one of your folders is searched recursively). I added a limit of 1000 files which fixed this issue but probably leads to files and folders which can't be found anymore. I suggest not using the recursive file scan too often. If you have big folders to be searched

[2019-09-22 20:49] #196 closed

[2019-09-23 09:32] #192 closed

[2019-09-25 11:49] Spiegel-Leser commented on #144
I think this is the right thread for another feature request: Please add the option to switch . , to , . i.e. to german number notation. Also you could preset the option according to chosen language.

[2019-09-25 11:57] oliverschwendener commented on #144
@Spiegel-Leser Please open a new issue for this.

[2019-09-25 12:00] Spiegel-Leser opened #198 "number notation option, preset by language"
Please add the option to switch 1,000.00 to 1.000,00 i.e. to german number notation. Also you could preset the option according to chosen language.

[2019-09-25 12:33] oliverschwendener commented on #198
I think this is the same as #49

[2019-09-25 12:37] Spiegel-Leser commented on #198
Ah, damn, ok. I guess every once in a while someone will have the same idea again.

[2019-09-25 14:13] #198 closed

[2019-09-26 14:27] dwerne opened #199 "Network folders not accessable"
Hi Oliver

is there a way to open a network folder like
\\servername\folder1\folder2\?
I tried with SHORTCUTS, but it didn't work.

thanks

[2019-09-26 14:28] oliverschwendener commented on #199
Closing this because it's a duplicate of #189

[2019-09-26 14:28] #199 closed

[2019-09-26 17:47] ZackaryNisbet opened #200 "[feature request] Add dictionary search"
Hello! I used to use spotlight everyday on my MacBook Air and since switching over to windows I've been looking for a replacement. Ueli is definitely the best out there, but there's one feature I'm absolutely unable to live without and I would love for it to be added if it isn't already.
![7Loux7K2Vv](https://user-images.githubusercontent.com/55851584/65711969-0367da80-e064-11e9-991c-37c81ba190e7.

[2019-09-26 18:04] ZackaryNisbet commented on #200
Just to be more specific with my request, I decided to design something that represents it.
![Ueli Dictionary Search Example](https://user-images.githubusercontent.com/55851584/65713075-5e9acc80-e066-11e9-8089-63c8a1eeae15.png)

Obviously I didn't crop the foreground to fit the design LOL but this is what I mean. I'd like to be able to access Euli's search, get a definition of a word, then quickly

[2019-09-27 05:22] dwerne commented on #189
Workaround:

Create link to Networkdrive on harddisk and use SHORTCUT + FilePath.

[2019-09-27 13:44] 4ern opened #201 "Change Terminal on Windows"
It would be nice if you could change the terminal, for example to powershell or bash.

[2019-10-01 08:31] oliverschwendener commented on #177
Closing this issue now because it seems to be resolved.

[2019-10-01 08:31] #177 closed

[2019-10-03 03:21] BryantShepherd opened #202 "App icon doesn't work since 8.1.2"
![image](https://user-images.githubusercontent.com/42168740/66097138-7ecb0e00-e5c7-11e9-984d-84748edb2846.png)